* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  padding: 10px;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

h2, h3, h4 {
  font-size: 1.1em;
  font-weight: bold;
}

header {
  padding-top: 2vh;
}

.logos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logos > a {
  margin: auto;
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos > a img {
  height: calc(10px + 5vw);
  padding: 0 calc(10px + 2vw);
}

header > h1 {
  font-size: calc(1.5em + 2vw);
  padding: 3vh 0;
  text-align: center;
}

.nav > button {
  width: 100%;
  background: rgba(133, 130, 145, 0.3);
  border-radius: 5px;
}

.nav-visible-link > a {
  font-size: calc(1em + 0.5vw);
  cursor: pointer;
  display: block;
}

.nav-toggling-link:hover > a {
  text-decoration: underline;
}

.nav-toggling-link:hover .nav-hidden-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgba(133, 130, 145, 0.3);
  padding: 5px 0px 5px 5px;
  min-width: 30vw;
  font-size: calc(1em + 0.2vw);
}

.hide-me {
  display: none;
}

@media (min-width: 600px) {
  .nav {
    padding: 0 10vw;
  }
  .nav > button {
    display: none;
  }
  #nav-links {
    display: flex;
    justify-content: space-between;
  }
  .nav-toggling-link {
    position: relative;
  }
  .nav-hidden-links {
    position: absolute;
    z-index: 1;
    background: rgba(133, 130, 145, 0.9) !important;
    font-size: calc(1.2em + 0.2vw);
  }
}

.index-slideshow img {
  max-height: 75%;
}

.index-main {
  margin-top: 3vh;
}

.index-slideshow {
  width: 100%;
  height: calc(200px + 6vw);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.index-slideshow {
  position: relative;
}

.index-slideshow > img {
  position: absolute;
  transition: opacity 1s ease-in;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.index-main {
  display: grid;
  grid-template-columns: 90vw;
  grid-template-areas: "index-slideshow" "index-news" "index-textfield-left" "index-textfield-right";
  grid-gap: 2vw;
  justify-items: center;
  justify-content: center;
}

.index-slideshow {
  grid-area: index-slideshow;
}

.index-news {
  grid-area: index-news;
}

.index-textfield-left {
  grid-area: index-textfield-left;
}

.index-textfield-right {
  grid-area: index-textfield-right;
}

@media (min-width: 430px) {
  .index-slideshow img {
    max-height: 90%;
  }
}

@media (min-width: 700px) {
  .index-main {
    grid-template-columns: 48vw 48vw;
    grid-template-areas: "index-slideshow index-news" "index-textfield-left index-textfield-left" "index-textfield-right index-textfield-right";
  }
}

@media (min-width: 800px) {
  .index-main {
    grid-template-columns: 45vw 45vw;
    grid-template-areas: "index-slideshow index-news" "index-textfield-left index-textfield-right";
  }
}

footer {
  margin-top: 3vh;
  background: rgba(133, 130, 145, 0.3);
}

.social > p {
  display: flex;
  justify-content: center;
}

.social i {
  font-size: 1.8em;
  padding: 1vw;
  color: royalblue;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 4vh;
}

footer > div {
  width: 100vw;
  margin-bottom: 4vh;
  padding: 1vh;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

@media (min-width: 600px) {
  footer {
    padding-left: 1vw;
    padding-right: 1vw;
  }
  footer > div {
    width: 45vw;
  }
}

@media (min-width: 600px) {
  footer {
    padding-left: 4vw;
    padding-right: 4vw;
    flex-wrap: nowrap;
  }
  footer > div {
    width: 25vw;
  }
}
/*# sourceMappingURL=combined.css.map */