/* LOGO Sizes */
$logo-min: 60px;
$logo-average: 80px;
$logo-max: 100px;

/*Maximum width of content sections */
$max-width: 1000px;
$min-width: 240px;

/*Breakpoints */
$hamburger-to-nav: 640px;
$break1: 700px; //two logos
$break2: 1024px; //logo-title-logo

/*Fonts*/
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;

/*Colors*/
$dark-blue: #062F4F;
$grey: #39454F;
$white: #E5ECE9;
$violet: #813772;