/*=====BASIC LAYOUT: Three-row grid, sticky footer*/
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/*====== ELEMENT VISIBILITY =====*/
//Hide language: Russian is hidden by default
.hidden-lang {
    display: none !important;
}

//Hide faculty logo (only one logo on small screens)
.grid-logo-faculty-img {
    display: none;
}

.hide-in-mobile {
    display: none;
}

@media (min-width: $break1) {
    .hide-in-desktop {
        display: none;
    }

    .hide-in-mobile {
        display: block;
    }
}

@media (min-width: $break1) {
    .grid-logo-faculty-img {
        display: inline-block;
    }

    .mobile-only {
        display: none;
    }
}

/*===== GRID LAYOUTS: HEADER AND FOOTER =====*/
//Type 1, small screens
header {
    display: grid;
    grid-template-areas: 
        "language"
        "logo-msu"
        "logo-faculty"
        "title"
        "navigation";
}

//Type 2, medium screens
@media (min-width: $break1) {
    header {
        grid-template-columns:  max(240px) 1fr 1fr  max(240px);
        grid-template-areas: 
            ". . . language"
            "logo-msu . . logo-faculty"
            "title title title title"
            "navigation navigation navigation navigation";
    }
}

//Type 3, large screens
@media (min-width: $break2) {
    header {
        grid-template-columns: 1fr 240px minmax(300px,600px) 240px 1fr;
        grid-template-rows: auto 25px auto;
        grid-template-areas: 
            ". logo-msu  title logo-faculty ."
            ". logo-msu language logo-faculty ."
            "navigation navigation  navigation navigation navigation";
    }
}

//===== GRID AREA TITLES =====
//Header
.grid-logo-msu {
    grid-area: logo-msu;
}
.grid-logo-faculty {
    grid-area: logo-faculty;
}
.grid-title {
    grid-area: title;
}
.grid-language {
    grid-area: language;
}
.grid-nav {
    grid-area: navigation;
}

