* {
    box-sizing: border-box;
}

/*===== Max/Min Dimensions =====*/
html {
    height: 100%;
}

body {
    max-width: 100vw;
    min-height: 98%;
}

.nav-bar {
    width: 100%;
}

header {
    width: 100%;
    max-width: 100%;
}

// header
.logo {
    @include logo-size($logo-min);
}

@media (min-width: $break1) {
    //html
    header {
        max-width: $max-nav-width; 
    }

    //body
    main {
        max-width: $max-width; 
    }
    .nav-bar {
        width: auto;
    }
    //header
    .logo {
        @include logo-size($logo-average);
    }

    .nav-bar > * {
        min-width: 150px;
    }

    .nav-hidden-links {
        min-width: 150px;
    }
}

@media (min-width: $break2) {
    .logo {
        @include logo-size($logo-max);
    }
}

/*===== Alignments =====*/
//html
a {
    display: inline-block;
}

header, footer {
    text-align: center;
}

.grid-language input  {
    float: right;
}

.grid-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.nav-toggler:hover .nav-hidden-links{
    display: flex;
    flex-direction: column;
}

@media (min-width: $break1) {
// html
    header, main {
        margin: auto;
    }

    .nav-bar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .nav-toggler:hover .nav-hidden-links {
        position: absolute;
        text-align: left;
    }
}

@media (min-width: $break2) {
    // header
    .grid-language input {
        float: none;
        margin: auto;
    }
}

/*===== Paddings and Margins =====*/
header, footer {
    margin: auto;
}

input {
    padding: 10px;
}

.grid-logo-msu {
    margin-bottom: 10px;
}

h1 {
    margin: 10px 0;
}

.nav-button {
    margin-bottom: 10px;
}

.nav-bar > * {
    padding: 10px 0;
}

.nav-hidden-links > * {
    padding: 5px 0;
}

@media (min-width: $break1) {
    header {
        padding: 5px;
        margin-bottom: 20px;
    }

    .nav-bar {
        margin: 0 20px;        
    }

    h1 {
        margin: 0 0 10px 0;
    }

    .nav-bar > * {
        padding: 10px 0 0 0;
        margin-bottom: 5px;
    }
    
    .nav-hidden-links > * {
        padding: 3px 10px;
    }
}


@media (min-width: $break2) {
    .nav-bar {
        margin-top: 20px;
    }
}

/*===== Decorations =====*/
h1, h2 {
    color: lighten($dark-blue, 10%);
}

h3 {
    color: $dark-blue;
}

a {
    color: inherit;
}

input {
    border-radius: 5px;
}

.logo {
    @include logo-size($logo-min);
    fill: $dark-blue;
}

.nav-bar {
    color: white;
    background: $dark-blue;
    > div:nth-child(odd) {
        background: lighten($grey, 10%);
    }
    > * {
        border-bottom: 1px dashed white;
    }    
}

.nav-hidden-links {
    color: black;
    background: $white;
}

.nav-hidden-links a:hover {
    color: $dark-blue;
}

@media (min-width: $break1) {
    html {
        font-size: 16px;
    }
    header {
        color: white;
        background: $dark-blue;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
    }
    //header
    .logo {
        @include logo-size($logo-min);
        fill: white;
    }

    h1 {
        color:white;
    }

    .nav-bar {
        border-top: 3px solid $white;
        background: $dark-blue;
        border-radius: 10px;
        color: black;
        > div {
            color: white;
            background: $dark-blue !important;
        }
    }
    .nav-hidden-links {
        a {
            color: darken($dark-blue, 5%);
            &:hover {
                color: darken($dark-blue, 50%);
            }
        }
    }
}
