* {
    box-sizing: border-box;
}
html {
    height: 100%;
}

/*BODY: Three-row grid with sticky footer*/
body {
    max-width: 100vw;
    min-height: 98%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    max-width: $max-width;
    margin: auto;
}

/*======HEADER: Three types of grid======*/
//Type 1
header {
    max-width: 100%;
    display: grid;
    grid-template-areas: 
        "language"
        "logo-msu"
        "logo-faculty"
        "title"
        "navigation";
}
//Minor tweeks for Type 1
//Hide Faculty logo
.grid-logo-faculty-img {
    display: none;
}
//Align logo captions (one line => two lines of space)
.grid-logo-faculty p {
    line-height: 2rem;
}
//Place language button in the right corner
.grid-language {
    justify-self: end;
}
//Language button (set minimal size and simple design) + other buttons on the page
.language-button,.plain-button {
    line-height:0;
    border-radius: 5px;
    padding: 10px;
    font-weight: 800;
    font-family: $montserrat;
}
//Resize logos
.logo {
    @include logo-size($logo-min);
}

//Type 2
@media (min-width: $break1) {
    header {
        grid-template-columns: 1fr max(240px)  max(240px) 1fr;
        grid-template-areas: 
            ". . . language"
            ". logo-msu logo-faculty ."
            "title title title title"
            "navigation navigation navigation navigation";
    }
    //Minor tweeks for Type 2
    //Show second logo
    .grid-logo-faculty-img {
        display: inline-block;
    }
    //Spread logos away from the center
    .grid-logo-faculty {
        justify-self: right;
    }
    .grid-logo-msu {
        justify-self: left;
    }
    //Resize logos
    .logo {
        @include logo-size($logo-average);
    }
}

//Type 3
@media (min-width: $break2) {
    header {
        grid-template-columns: 1fr 240px minmax(300px,600px) 240px 1fr;
        grid-template-areas: 
            ". logo-msu  title logo-faculty ."
            ". logo-msu language logo-faculty ."
            "navigation navigation  navigation navigation navigation";
    }
    //Minor tweeks for Type 3
    //Center language button
    .grid-language {
        justify-self: center;
    }
    //Resize logos
    .logo {
        @include logo-size($logo-max);
    }
}

// GRID AREA TITLES
.grid-logo-msu {
    grid-area: logo-msu;
}
.grid-logo-faculty {
    grid-area: logo-faculty;
}
.grid-title {
    grid-area: title;
}
.grid-language {
    grid-area: language;
}
.grid-nav {
    grid-area: navigation;
}

// /*======== HIDE EXTRA LANGUAGE =======*/
//Text appears when the class is removed
.hidden-lang {
    display: none;
}

/*======FOOTER: At least four elements in grid======*/
footer {
    justify-self: center;
    justify-items: center;
    align-items: start;
    display: grid;
    grid-template-areas:
        "contacts"
        "address"
        "subscribe"
        "search"; 
    max-width: $max-width;
}

@media (min-width: $break1) {
    footer {
        grid-template-columns: repeat(2, minmax(280px, 350px));
        grid-template-areas:
             "contacts address"
             "search subscribe";
        grid-column-gap: 5px;
    }
}

@media (min-width: $break2) {
    footer {
        grid-template-columns: repeat(3, minmax(280px, 350px));
        grid-template-areas: 
            "contacts address subscribe"
            "search . . ";
        > * {
            height: 120px;
        }
    }
}

// GRID AREA TITLES
.contacts {
    grid-area: contacts;
}
.address {
    grid-area: address;
}
.subscribe {
    grid-area: subscribe;
}
.search {
    grid-area: search;
}
//Extra settings to fit different screen sizes
//Micro-settings: 240px
header {
    h1 {
        font-size: 20px;
        color: lighten($dark-blue, 10%);
    }
    .grid-nav {
        margin-top: 10px;
    }
}
main {
    border-bottom: 1px dashed $dark-blue;
    h1 {
        padding-top: 20px;
        font-size: 18px;
        text-align: center;
        color: lighten($dark-blue, 10%);
    }
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
    figure {
        width: 98%;
        margin: auto;
        img {
            width: 100%;
            max-width: 500px;
        }
    }
}
footer {
    font-size: 12px;
    line-height: 1.5em;
    grid-row-gap: 10px;
    div {
        min-width: 220px;
        margin: auto;
    }
    h3 {
        text-align: center;
        font-size: 15px;
        font-weight: 400;
        padding-bottom: 5px;
        color: $dark-blue;
    }
    .contacts a i {
        display: none;
    }
    
    form {
            text-align: center;
    }
}
//Medium screens BLIND
@media (min-width: $break1) {
    main {
        padding: 5px 30px;
        figure {
            margin-top: 10px;
            width: fit-content;
            img {                
                display: block;
                margin: auto;
            }
            figcaption {
                font-size: 16px;
            }
        }
        .img-left {
            display: block;
            width: 300px;
            float: left;
            margin-right: 20px;
            img {
                width: 300px;
            }
        }
        .img-right {
            display: block;
            width: 300px;
            float: right;
            margin-left: 10px;
            img {
                width: 300px;
            }
        }
        .img-pair-left {
            img {
                max-width: 90%;
            }
            width: 50%;            
        }
        .img-pair-right {
            img {
                max-width: 90%;
            }
            width: 50%;
            figcaption {
                text-align: right;
            }
        }
        .img-pair {
            display: flex;
            flex-direction: row;
        }
        .img-multiple {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            img {
                width: 48%;
                margin: 1%;
            }
        }
        .img-minify {
            width: 100%;
            img {
                display: inline;
            }
            img {
                width: 30%;
                margin: 1%;
            }
        }
        .img-faces {
            max-width: 70%;
            margin: auto;
        }
        .img-enlarge-on-hover {
            img:hover {
                z-index: 1;
                -webkit-transform: scale(2);
                -ms-transform: scale(2);
                transform: scale(2);
                transition: transform 0.5s ease-in-out;
            }
        }
        
    }
}
//Large screens: >1000px
@media (min-width: $break2) {
    main {
        padding: 5px 0;
        font-size: 16px;     
    }
}

/*========Basic Design========*/
html {
    font-family: $open-sans;
    h1, h2, h3 {
        font-family: $montserrat;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}

header {
    text-align: center;
}

main {
    line-height: 1.3em;
    p {
        padding: 10px;
    }
}

footer {
    > * {
        padding: 10px;
    }
}
.contacts {
    > a {
        display: block;
    }
}

main {
    figcaption {
        font-style: italic;
    }
}

//Media queriesfor font sizes
//Footer 12px text, 15px h3
@media (min-width: 320px) {
    footer {
        font-size: 15px;
        h3 {
            font-size: 18px; 
        }
    }
}

@media (min-width: $break1) {
    header {
        margin-top: 10px;
        h1 {
            margin: 20px 0;
            font-size: 22px;
            line-height: 1.5em;
            font-weight: bold;
        }
    }
    .nav-bar {
        font-size: 20px;
        font-variant:small-caps;
        padding-left: 100px;
        padding-right: 100px;
    }
    footer {
        font-size: 14px;
        h3 {
            font-size: 20px; 
        }
        margin-top: 20px;
    }   
}

@media (min-width: $break2) {
    header {
        margin-top: 30px;
        h1 {
            font-size: 30px;
            margin: 50px 0;
        }
    }
    .nav-bar {
        max-width: 1200px;
        margin: auto;
    }
    main {
        h1 {
            padding-top: 50px;
            margin: auto;
            font-size: 20px;
            font-weight: 600;
        }
    } 
}

@media (min-width: 560px) {
    
}

@media (min-width: 720px) {
    
}

@media (min-width: 1024px) {
    
}