//Horizontal line of links instead of spreadsheet
@media (min-width: 600px) {
    .nav {
        padding: 0 10vw;
        >button {
            display: none;
        }
    }
    #nav-links {
        display: flex;
        justify-content: space-between;
    }

    .nav-toggling-link {
        position: relative;
    }
    .nav-hidden-links {
        position: absolute;
        z-index: 1;
        background: rgba(133, 130, 145, 0.9) !important;
        font-size: calc(1.2em + 0.2vw);
    }
}