//Temporary adjustments
.index-slideshow img {
    max-height: 75%;
}
.index-main {
    margin-top: 3vh;
}

.index-slideshow { 
    width: 100%; 
    height: calc(200px + 6vw); 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

//Slideshow attempt
.index-slideshow { 
    position: relative; 
}

.index-slideshow > img { 
    position: absolute; 
    transition: opacity 1s ease-in;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

//Grid layout
.index-main {
    display: grid;
    grid-template-columns: 90vw;
    grid-template-areas:
     "index-slideshow"
     "index-news"
     "index-textfield-left"
     "index-textfield-right";
    grid-gap: 2vw;
    justify-items: center;
    justify-content: center;
}

.index-slideshow {
    grid-area: index-slideshow;
}

.index-news {
    grid-area: index-news;
}

.index-textfield-left {
    grid-area: index-textfield-left;
}

.index-textfield-right {
    grid-area: index-textfield-right;
}