* {
    box-sizing: border-box;
}

/* Sticky FOOTER */
body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

main {
    flex-grow: 1;
}

/*Basic Formating*/
a {
    text-decoration: none;
    color: inherit;
    font-family: $montserrat;
}

h1 {
    font-family: $montserrat;
    font-size: 1.5em;
}