@import "constants";
@import "mixins";
@import "g-grid";
@import "g-fonts";
@import "g-layout";
@import "header";

figcaption {
    text-align: center;
    font-style: italic;
}

figure {
    width: 98%;
    margin: auto;
    img {
        width: 100%;
    }
}

.hide-in-mobile img {
    display: none;
}

@media (min-width: $break1) {
    .hide-in-desktop img {
        display: none;
    }

    .hide-in-mobile img {
        display: block;
    }
    
    main {
        figure {
            margin-top: 10px;
            width: fit-content;
            img {                
                display: block;
                margin: auto;
            }
            figcaption {
                font-size: 14px;
                text-align: start;
            }
        }
    }
    .figcap-center {
        figcaption {
            text-align: center;
        }
        
    }
    //Individual images (float left/right)
    .img-left {
        display: block;
        width: 300px;
        float: left;
        margin-right: 10px;
        margin-left: 10px;
        img {
            width: 300px;
        }
    }
    .img-right {
        display: block;
        width: 300px;
        float: right;
        margin-right: 10px;
        margin-left: 10px;
        img {
            width: 300px;
        }
    }
    //Pairs of images (1 : 1)
    .img-pair-wrapper {
        display: flex;
        flex-direction: row;
    }
    
    .img-pair {
        img {
            max-width: 100%;
        }
        width: 50%;
        margin: 3px;            
    }

    .img-shared-caption {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
    }

        //Three images under one caption
        .img-triplet {
        img {
            width: 32%;
        }
        margin: 3px;
    }

    //Two images under one caption
    .img-tweens {
        img {
            width: 48%;
            margin: 1%;
        }
    }
    
    .img-limit-width {
        max-width: 70%;
        margin: auto;
    }

    .img-enlarge-on-hover {
        img:hover {
            z-index: 1;
            -webkit-transform: scale(2);
            -ms-transform: scale(2);
            transform: scale(2);
            transition: transform 0.5s ease-in-out;
        }
    }   
}