@import "constants";

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    max-width:220px;
    margin: auto;
}

.logo-too-large {
    max-width: 150px;
}

.partner {
    max-width: 220px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > div {
        height: 150px;
        display: flex;
    }
    p {
        text-align: center;
    }
}

@media (min-width: $break1) {
    .partner {
        min-width: 300px;
    }
}