@import "constants";
main {
    h1 {
        color: $dark-blue;
    }
    > a {
        display: inline-block;
        border-bottom: 1px dashed black;
    }
    a:nth-child(2) {
        float: right;
    }
}

.articles {
    h3 {
        color: $dark-blue;
        font-weight: bold;
        font-style: italic;
    }
    i {
        color: $dark-blue;
    }
}
    