doctype html
html(lang="en")
  include head.pug
  link(rel="stylesheet" href="css/staff.css")
  body
    include header.pug
    main
        h1 Раздел в разработке.
        p Попробуем что-нибудь ещё?
    include footer.pug
    script(src="structure.js")