- var link = '../404.html';
- var language = 'EN';

<!DOCTYPE html>
<html lang="ru">
    include head.pug
    body
        include header.pug
        main.main
            h1.main__h1 Раздел в разработке
        include footer.pug
</html>