doctype html
html(lang="en")
  head
    include head.pug
    link(rel="stylesheet" href="css/staff.css")
  body
    include header.pug
    main
        .employee.employee-personal
            .employee-photo
                img(src='img/faculty/grechushnikova.jpg', alt='')
            .employee-data.employee-data-personal
                p.employee-name
                | Гречушникова Мария Георгиевна 
                a(href='mailto:allavis@mail.ru')
                    i.far.fa-envelope
                p Ведущий научный сотрудник
        p
        | Мария Георгиевна Гречушникова – ведущий научный сотрудник кафедры гидрологии суши. С 1993 г. (за редкими исключениями) – бессменный участник полевых работ на Можайском водохранилище. Сфера научных интересов от гидрофизики и математического моделирования постепенно переместилась в область гидроэкологии.
        p
        | В 1996 г., еще в отсутствие приборов с возможностью автоматической регистрации показателей, были проведены многосуточные учащенные наблюдения за изменением температуры воды в Красновидовском плесе с интервалом от часа до 15 минут. По материалам этих наблюдений была создана версия гидрологической модели Можайского водохранилища с внутрисуточным шагом по времени, усовершенствованная впоследствии В.М. Степаненко с внесением блоков внутрисуточного расчета составляющих теплового баланса, а также внедрен блок интенсификации испарения по методу Г.Н. Панина.
        p
        | Контакты с ИФА им. Обухова и ИВП РАН открыли новые возможности и направления в исследовании внутриводоемных процессов. С 2015 г. организован мониторинг сезонных изменений содержания метана в водной толще и его эмиссии с поверхности водохранилища. Столь подробные измерения имеют немного мировых аналогов. Параллельно исследуется поступление метана в воду из донных отложений различного типа. В перспективе намечены исследования эмиссии метана с различных районов водохранилища, при сгонно-нагонных явлениях, осеннего и весеннего выброса метана, а также эксперименты по скорости окисления метана на различных горизонтах. Полученные данные планируется использовать для верификации модели LAKE 2.0 В.М. Степаненко. Самый грандиозный план – внедрение блока расчета метана из модели LAKE в модель ГМВ-МГУ.
        p
        | С 2012 г. на рейдовой вертикали Красновидовского плеса в безлёдный период организовано непрерывное измерение температуры воды на горизонтах 0,5, 1, 2, 3, 5, 7 и 10 м самописцами HOBO. Параллельно автоматическая метеостанция регистрирует характеристики над водной поверхностью, что весьма актуально при моделировании внутриводоемных процессов, поскольку использование данных метеостанции г. Можайск не всегда дает хороший результат, даже с соответствующими поправками. Особенно велики оказываются различия в антициклоническую погоду. Береговая метеостанция показывает штиль, в то время как над водоемом наблюдается ветер 1-2 м/с; амплитуда температуры воздуха над водой меньше, а дневной максимум сдвинут на более поздние сроки.
        p
        | Таким образом, на Красновидовском плёсе Можайского водохранилища ведутся уникальные подробные наблюдения за синоптическими и внутрисуточными изменениями характеристик водной толщи.

    include footer.pug
    script(src="structure.js")