- var link = '../about-goncharov.html';
- var language = 'EN';

doctype html
html(lang="ru")
  head
    include head.pug
  body
    include header.pug
    main.main
        .employee.employee--personal
            .employee__photo
                img.employee__photo__img(src="../img/faculty/goncharov.png" alt="")
            .employee__data.employee__data--personal
                p.employee__data__name Гончаров Александр Валентинович
                    a(href="mailto:mama15333@mail.ru")
                        i.employee__fa.far.fa-envelope
                p.employee__data__status Ведущий научный сотрудник, к.б.н.
        .main__text
            p Много лет назад, студентом, я проходил практику по гидробиологии на небольших озерках Калининградской области. Возникла мысль: нельзя ли по некоторым внешним признакам (просто глядя на водоём) узнавать о его обитателях, о его состоянии…  Тогда я не придал этому значения, однако, похоже, что эта мысль в дальнейшем всё время преследовала меня. 
            p Так, в кандидатской диссертации я пытался выяснить наличие связи между типом ландшафта, химическим составом речной воды и составом фитопланктона – с тем, чтобы взглянув на ландшафтную карту сказать какие водоросли и в каком количестве присутствуют в реке- без проведения натурного исследования. Как ни удивительно, но что-то в этом направлении получилось.
            p Одновременно, я занялся вопросами биологической индикации, в которой по отдельным признакам водных обитателей можно оценивать состояние (или загрязнение) всего водного объекта.
            p Рассматриваемый подход оказался востребованным на кафедре гидрологии, где появилась возможность совместного рассмотрения гидробиологических и гидролого-гидрохимических параметров. Здесь, изучая фитопланктон подмосковных водохранилищ, я попытался объяснить их эвтрофирование морфометрическими характеристиками водоемов, а также – межгодовыми и многолетними изменениями гидрометеорологических условий.
            p Рассматривая отдельные реки, удалось установить связь между характером донных отложений и типом речных биоценозов. Это помогло построить карту распределения донных беспозвоночных в дельте р.Селенги, схему их распределения на всей территории России, на участке малой реки… Выявлена связь между биологическими характеристиками р.Дон (биомассой фитопланктона, количеством сеголетков рыб) и - водностью реки.
            p Известно, что функциональные параметры речной экосистемы находят отражение в изменении растворенного в воде кислорода. Рассматривая кислородный режим многих рек России, мне удалось выяснить географические особенности его формирования и, следовательно, особенности жизнедеятельности речных биоценозов (экосистем).
            p Для изучения Можайского водохранилища мною разработана установка, позволяющая в автоматизированном режиме изучать продукционно-деструкционные параметры водной экосистемы. Кроме того, на Можайском водохранилище я провожу гидробиологическую часть практики у студентов 3-го курса: изучаем фито- и зоопланктон, зообентос,  первичную продукцию и деструкцию органического вещества в воде . Во время практики на р.Оке (недалеко от г.Озеры), рассматриваются следующие темы: «Оценка качества воды в реке (по методу Вудивиса)», «Картирование макрофитов на участке реки Оки», «Оценка интенсивности биологических процессов  в реке по изменению растворённого в воде кислорода».
            p Кроме того я читаю лекции по Водной экологии у студентов 4-го курса. 
    include footer.pug