- var link = '../about-sokolov.html';
- var language = 'EN';

doctype html
html(lang="ru")
  head
    include head.pug
  body
    include header.pug
    main.main
        .employee.employee--personal
            .employee__photo
                img.employee__photo__img(src="../img/staff/sokolov.jpg" alt="")
            .employee__data.employee__data--personal
                p.employee__data__name Соколов Дмитрий Игоревич
                    a(href="mailto:dmitriy.sokolov@yandex.ru")
                        i.employee__fa.far.fa-envelope
                p.employee__data__status Старший научный сотрудник, к.г.н.
        .main__text
            p Впервые на Красновидовскую базу географического факультета я попал ещё студентом, когда в 2002 г. проходил здесь летнюю учебную лимнологическую практику после 2-го курса. С тех пор стал бывать на базе регулярно, зимой и летом. С 2006 г. участвую в проведении летней студенческой практики уже в качестве преподавателя, а с 2010 г. официально зачислен в штат Красновидовской УНБ.
            p Ещё до окончания университета я начал принимать участие в полевых исследованиях, проводимых лимнологической группой кафедры гидрологии суши. С тех пор довелось работать на Можайском Рузском, Озернинском, Истринском, Вазузском, Горьковском, Чебоксарском водохранилищах, озере Сенеж, их притоках, на подмосковном озере Глубоком, на русловом тракте р. Москвы от Можайского гидроузла до Рублевского водозабора и других водных объектах, исследуя их гидроэкологический режим.
            p Основным своим научным интересом считаю изучение процессов формирования и трансформации качества воды в водохранилищах. Оценивая влияние водохранилищ на качество воды, в 2008-2011 гг. я проводил совместно с сотрудниками ИВП РАН экспериментальные наблюдения за седиментацией органических и биогенных веществ в Можайском водохранилище, а в 2012 г. впервые за 30 лет организовал годичный цикл комплексных балансовых наблюдений на его водосборе. Это позволило наглядно показать, что водохранилища способны улучшать качество речных вод, удерживая до 40-50% органических веществ и более 80% взвесей, поступающих с водосбора (во многом благодаря осаждению этих веществ и захоронению их в донных отложениях).
            p Одним из главных направлений лимнологических исследований на кафедре гидрологии суши является математическое моделирование экологических процессов в водоёмах. В этой области меня всегда интересовали вопросы репрезентативности фактических данных – и тех, что мы используем для запуска модели, и тех, с которыми сравниваем результаты моделирования. 
            p В 2011 и 2014 гг. я участвовал в полевых экспериментах «Полигон-2011» и «Тройной полигон-2014». Их цель была – оценить, насколько достоверно наблюдения в отдельных точках отражают состояние всего водоёма. Это поможет методически усовершенствовать и мониторинг водохранилищ, и оценку качества модельных расчётов с учётом природной изменчивости моделируемых показателей.
            p А с 2016 г. мы с коллегами проводим детальные исследования современного гидроэкологического режима отдельных притоков подмосковных водохранилищ. Это нужно нам для параметризации качества речных вод, чтобы можно было обеспечивать модель максимально достоверными входными данными даже при нехватке или отсутствии наблюдений. Ведь по нашим оценкам задание некачественной информации при модельных расчётах может в разы искажать поступление веществ, определяющих функционирование всей экосистемы водохранилища.
            p Кроме того, с 2009 г. я веду практические занятия, а с 2016 – читаю лекции студентам 2 курса по дисциплине «Гидрология озёр и водохранилищ». 
    include footer.pug