- var link = '../contacts.html';
- var language = 'EN';

doctype html
html(lang="ru")
  head
    include head.pug
  body
    include header.pug
    main.main
      h1.main__h1 Контактная информация
      section.main__text
        h2.publication__year Красновидовская учебно-научная станция  
        p Официальное название – «Красновидовская учебно-научная база географического факультета МГУ имени М.В.Ломоносова»
        p.contacts__wrapper
          a.contacts__link.contacts__item(href="tel:+1234567890") +7(49638) 51619
          a.contacts__link.contacts__item(href="mailto:krasnovidovo.station@gmail.com") krasnovidovo.station@gmail.com
        p 143221, Россия, Московская обл., Можайский район, пос. Красновидово, ул.Зеленая, д.5.

        section.main__text
          h2.main__h2 Как до нас добраться
          .inner__nav
            a.publication__year.inner__nav__link(href="#subsection-2") На автомобиле &#10164;
          #subsection-1.main__text
            h3.publication__year  На общественном транспорте
            p Из <strong>Москвы</strong> до г.Можайск можно доехать двумя способами.
            p &#9658; Электричкой от Белорусского вокзала до станции «Можайск» 
              a.contacts__link.contacts--hide-in-desktop(href="https://rasp.yandex.ru/search/?fromName=%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0+(%D0%91%D0%B5%D0%BB%D0%BE%D1%80%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9+%D0%B2%D0%BE%D0%BA%D0%B7%D0%B0%D0%BB)&toName=%D0%9C%D0%BE%D0%B6%D0%B0%D0%B9%D1%81%D0%BA&fromId=s2000006&toId=c10739&when=%D0%BD%D0%B0+%D0%B2%D1%81%D0%B5+%D0%B4%D0%BD%D0%B8" target="_blank") &#32;(расписание)
            iframe.contacts--hide-in-mobile.ul-fix(frameborder="0" src="https://rasp.yandex.ru/informers/search/?fromId=s2000006&amp;toId=c10739&amp;size=5&amp;color=1")
            p &#9658; На маршрутке 457 от станции метро Парк Победы до конечной остановки «Автостанция Можайск»
              a.contacts__link.contacts--hide-in-desktop(href="https://rasp.yandex.ru/search/?fromName=%D0%BC.+%D0%9F%D0%B0%D1%80%D0%BA+%D0%9F%D0%BE%D0%B1%D0%B5%D0%B4%D1%8B&toName=%D0%9C%D0%BE%D0%B6%D0%B0%D0%B9%D1%81%D0%BA&fromId=s9744836&toId=c10739&when=%D0%BD%D0%B0+%D0%B2%D1%81%D0%B5+%D0%B4%D0%BD%D0%B8" target="_blank") &#32;(расписание)
            iframe.contacts--hide-in-mobile.ul-fix(frameborder="0" src="https://rasp.yandex.ru/informers/search/?fromId=s9744836&amp;toId=c10739&amp;size=5&amp;color=1&amp;type=bus")
            p Из <strong>г.Можайск</strong>
            p От автостанции г.Можайск автобусами 31, 37, 44 до остановки «Красновидово» 
               a.contacts__link.contacts--hide-in-desktop(href="https://rasp.yandex.ru/search/?fromName=%D0%90%D0%B2%D1%82%D0%BE%D0%B2%D0%BE%D0%BA%D0%B7%D0%B0%D0%BB+%D0%9C%D0%BE%D0%B6%D0%B0%D0%B9%D1%81%D0%BA&toName=%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D0%BE%D0%B2%D0%B8%D0%B4%D0%BE%D0%B2%D0%BE&fromId=s9742980&toId=s9743854&when=%D1%81%D0%B5%D0%B3%D0%BE%D0%B4%D0%BD%D1%8F" target="_blank") &#32;(расписание)
            iframe.contacts--hide-in-mobile(frameborder="0" src="https://rasp.yandex.ru/informers/search/?fromId=c10739&amp;toId=s9743854&amp;size=5&amp;color=1&amp;type=bus")
            p Выйдя на автобусной остановке, нужно перейти дорогу и следовать по ул.Центральная. Пройдя улицу до конца, вы окажетесь прямо перед нашими воротами, входная дверь на территорию станции и звонок находятся в 10 метрах слева от ворот 
              a.contacts__link.contacts--hide-in-desktop(href="https://yandex.ru/maps/-/CBqOiXDZ~A" target="_blank") 
              | &#32;(см.карту).
            iframe.contacts--hide-in-mobile(src="https://yandex.ru/map-widget/v1/-/CBqKV2tMxC" width="560" height="400" frameborder="0")

          #subsection-2
            h3.publication__year На автомобиле 
              a.contacts__link.contacts--hide-in-desktop(href="https://www.google.com/maps/dir/%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0/%D0%97%D0%B5%D0%BB%D0%B5%D0%BD%D0%B0%D1%8F+%D1%83%D0%BB.,+5,+%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D0%BE%D0%B2%D0%B8%D0%B4%D0%BE%D0%B2%D0%BE,+%D0%9C%D0%BE%D1%81%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB.,+143221/@55.67746,35.6245005,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x46b54afc73d4b0c9:0x3d44d6cc5757cf4c!2m2!1d37.6172999!2d55.755826!1m5!1m1!1s0x46ca8ab41cd05761:0x8c42d40c2eadfe86!2m2!1d35.8716299!2d55.581464!3e0?hl=ru" target="_blank") (схема проезда)
            p Добраться до Красновидовской станции из Москвы удобнее всего по Минскому шоссе (автодорога М1/Е30).
            p Если выезжать из самого центра Москвы, то нужно следовать по Кутузовскому проспекту, переходящему в Можайское шоссе, а затем, после пересечения с МКАД – в Минское шоссе. При движении по МКАД нужно воспользоваться съездом 55А по указателю «М1 Е30 СМОЛЕНСК». От пересечения с МКАД ехать по Минскому шоссе прямо 92 км.
            p После километрового знака «107 км» на светофоре повернуть направо по указателю «Можайск».           Следовать прямо 4 км через деревню Ямская. В конце деревни на светофоре проехать прямо (под железнодорожным мостом) – окажетесь в г. Можайск. Через 200 м будет ещё один светофор – его также проехать прямо.
            p Далее 800 м по улице Коммунистическая (одностороннее движение), затем на следующем светофоре повернуть налево, на Московскую улицу (Можайское шоссе), по указателю «Бородино». Через 200 м на светофоре продолжить движение прямо.
            p Через 1,3 км повернуть направо по указателю «МИЗ». Следовать прямо 5 км через посёлок МИЗ. Повернуть налево по указателю «Поречье».
            p Через 7,5 км свернуть направо в деревню Красновидово. Ещё 800 м по улице Центральной до Т-образного перекрёстка, и Вы окажетесь перед воротами Красновидовской станции.
            iframe.contacts--hide-in-mobile(src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1151827.461803825!2d35.624500503718245!3d55.677459980350235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCw!3m2!1d55.755826!2d37.6172999!4m5!1s0x46ca8ab41cd05761%3A0x8c42d40c2eadfe86!2z0JfQtdC70LXQvdCw0Y8g0YPQuy4sIDUsINCa0YDQsNGB0L3QvtCy0LjQtNC-0LLQviwg0JzQvtGB0LrQvtCy0YHQutCw0Y8g0L7QsdC7LiwgMTQzMjIx!3m2!1d55.581464!2d35.871629899999995!5e0!3m2!1sru!2sru!4v1526038128163" frameborder="0" allowfullscreen)
    include footer.pug