- var link = '../data.html';
- var language = 'EN';

<!DOCTYPE html>
<html lang="ru">
    include head.pug
    body
        include header.pug
        main.main
          h1.main__h1 Наши данные
          ul.datasets
            li.dataset
              a.dataset__button(href="data-hydro.html") Гидрологические данные
            li.dataset 
              a.dataset__button(href="404.html") Лимнологические данные
            li.dataset
              a.dataset__button(href="data-meteo.html") Метеорологические данные
        include footer.pug
</html>