doctype html
html(lang="en")
  head
    include head.pug
    link(rel="stylesheet" href="css/staff.css")
  body
    include header.pug
    main
      h1.eng(lang='en') Учебные практики
      .container
        a(href='field-1.html')
          img.logo-main(src='icons/land-logo-alt.jpg', alt='logo')
          h3.eng(lang='en')
            | Кафедра гидрологии суши
            br
            | географического факультета МГУ
        a(href='field-2.html')
          img.logo-main(src='icons/cryo-logo.jpg', alt='logo')
          h3.eng(lang='en')
            | Кафедра криолитологии и гляциологии,
            br
            | географического факультета МГУ
        a(href='field-3.html')
          img.logo-main(src='icons/env-logo-alt.jpg', alt='logo')
          h3.eng(lang='en')
            | Кафедра рационального природопользования,
            br
            | географического факультета МГУ
include footer.pug
script(src="structure.js")
