- var link = '../field.html';
- var language = 'EN';

doctype html
html(lang="ru")
  head
    include head.pug
  body
    include header.pug
    main.main
      h1.main__h1 Учебные практики
      .container__flex--row
        a.main__entity(href='field-1.html')
          img.entity__logo--by-height(src='../img/logos/land.jpg', alt='logo')
          p.entity__title Кафедра гидрологии суши
            br
            | географического факультета МГУ
        a.main__entity(href='field-2.html')
          img.entity__logo--by-height(src='../img/logos/cryo.jpg', alt='logo')
          p.entity__title Кафедра криолитологии и гляциологии
            br
            | географического факультета МГУ
        a.main__entity(href='field-3.html')
          img.entity__logo--by-height(src='../img/logos/env.jpg', alt='logo')
          p.entity__title Кафедра рационального природопользования
            br
            | географического факультета МГУ
include footer.pug
