- var link = '../field-1.html';
- var language = 'EN';

doctype html
html(lang="ru")
  include head.pug
  link(rel="stylesheet" href="css/staff.css")
  body
    include header.pug
    main.main
      .main__h1 Лимнологическая практика
      .main__text
        p Студенты-гидрологи проходят учебную полевую практику по лимнологии на Красновидовской станции в течение 3 недель летом после окончания второго курса.
        p
          strong
            em Цель практики
          |  – познакомить студентов с современными методами полевых исследований озер и водохранилищ, позволяющими комплексно оценить состояние и динамику экосистемы водоемов.
        p Программа практики включает в себя:
        p
          strong Режимные гидроэкологические наблюдения.
          |  Их цель – выявить характер вертикального распределения и внутрисуточные колебания основных гидрологических, гидрохимических и гидробиологических характеристик при меняющихся синоптических условиях. Измерения проводятся на вертикали, где устанавливается плавучая станция. Каждые 3 часа студенты отбирают пробы воды, измеряют метеорологические характеристики, а также вертикальное распределение температуры воды, электропроводности, содержания растворенного кислорода и рН. В последние годы на плавучей станции параллельно устанавливаются автоматическая метеостанция и логгеры, каждые 10 минут измеряющие на разных глубинах температуру воды и содержание растворенного кислорода. Помимо этого, студенты устанавливают продукционную станцию для определения величин первичной продукции и деструкции органического вещества в водоеме по методу Винберга. Параллельно измерения величины первичной продукции ведутся автоматической установкой, разработанной сотрудниками кафедры гидрологии суши.
        figure.figure
          img.figure__img.figure__img--pair(src='../img/field/teaching-01.jpg', alt='Students in a boat')
          img.figure__img.figure__img--pair(src='../img/field/teaching-02.jpg', alt='A group of happy students')
        p
          strong Гидролого-гидрохимические съемки водоема.
          |  Съемки проводятся небольшими группами студентов на катерах с целью изучения пространственной неоднородности состояния водной экосистемы водохранилища и выделения в нем водных масс различного происхождения. Обследование всего водохранилища проводится по станциям, заранее намеченным на акватории водохранилища. Работы на станции включают визуальные метеорологические наблюдения, измерение распределения температуры воды, электропроводности, и содержания растворенного кислорода в водной толще, отбор проб на химический и биологический анализ.
        figure.figure
          img.figure__img.figure__img--pair(src='../img/field/teaching-03.jpg', alt='#')
          img.figure__img.figure__img--pair(src='../img/field/teaching-04.jpg', alt='#')
        p
          strong Гидробиологические наблюдения
          |  включают отбор проб на акватории, изучение видов гидробионтов, подсчет биомассы фито- и зоопланктона под микроскопом. Основное внимание уделяется планктону, так как он несет основную функциональную нагрузку в водоемах озерного типа. Студенты изучают планктон в живом состоянии, чтобы видны были особенности строения, движения, питания, размножения организмов. Для оценки продуктивности водоема подсчитывают численность и биомассу фито- и зоопланктона. Рассматривается пространственное распределение планктонных организмов в связи с изменением условий среды – по глубине и по длине водоема; определяется также состав и количество донных беспозвоночных на разных глубинах. Детальной таксономической идентификации организмов придается второстепенное значение. Имеется возможность изучения фауны зарослей водных растений, а также – ихтиологического исследования с выловом рыб сетями.
        figure.figure
          img.figure__img.figure__img--pair(src='../img/field/teaching-05.jpg', alt='#')
          img.figure__img.figure__img--pair(src='../img/field/teaching-06.jpg', alt='#')
        p
          strong Промерные работы и грунтовая съёмка. 
          | Для ознакомления с характером рельефа дна водохранилища студенты производят промеры глубин на участке водоема в районе Красновидовской станции. Помимо наглядного представления о морфологических особенностях долинных водохранилищ студенты приобретают базовые навыки компьютерной обработки эхограмм и построения цифровой модели рельефа дна исследуемой акватории. Одновременно с эхолотированием студенты отбирают пробы донных отложений в различных морфологических участках для ознакомления со свойствами грунтов водохранилища, пространственной неоднородностью их залегания и различными условиями осадконакопления.
        figure.figure.figure--left
          img.figure__img(src='../img/field/teaching-07.jpg', alt='#')
        p
          strong Лабораторный гидрохимический анализ.
          |  Обработка проб, отобранных при выполнении гидролого-гидрохимической съемки и во время рейдовых наблюдений, проводится студентами в гидрохимической лаборатории Красновидовской станции. Лаборатория оснащена современным аналитическим оборудованием, что позволяет студентам овладеть методами химического анализа природных вод, с которыми они предварительно знакомились в ходе изучения теоретического курса «Гидрохимия».
        p Студенты осваивают методы титриметрического анализа, электрохимические методы (потенциометрический и кондуктометрический), фотометрический метод анализа. Химический анализ отобранных проб студенты проводят самостоятельно. Комплекс определяемых показателей включает в себя содержание главных ионов, растворенного кислорода, биогенных элементов (фосфора и кремния), косвенные показатели содержания органических веществ (цветность и перманганатная окисляемость воды). Кроме того, студенты знакомятся с методом жидкостной хроматографии и самостоятельно готовят пробы для их последующей обработки на хроматографе. Студенты учатся оценивать качество результатов химического анализа, используя метод расчета ошибки полного солевого анализа, а также проводя сравнение полученных гидрохимических показателей.
        figure.figure
          img.figure__img.figure__img--pair(src='../img/field/teaching-08.jpg', alt='#')
          img.figure__img.figure__img--pair(src='../img/field/teaching-09.jpg', alt='#')
        figure.figure.figure--right-vertical
          img.figure__img.figure__img--hide-in-mobile(src='../img/field/teaching-10.jpg', alt='A student presents her study')
        p Обработка материалов наблюдений (расчеты, подготовка окончательных результатов комплекса анализов и графическое их представление) проводится студентами индивидуально, т.к. в процессе полевых наблюдений каждый из них отбирает собственные пробы.
        p В конце практики каждый студент готовит индивидуальный отчет, одна из глав которого представляет собой научное исследование по определенной теме, которую студент выбирает из числа предложенных в зависимости от собственных предпочтений. Подготовка данного исследования проводится под руководством одного из преподавателей практики. Эту главу отчета студенты защищают на конференции, организуемой в конце практики с участием всех студентов, преподавателей практики и сотрудников Красновидовской станции и факультета.
        figure.figure.figure--right-vertical
          img.figure__img.figure__img--hide-in-desktop(src='../img/field/teaching-10.jpg', alt='A student presents her study')
        p В прошлом во время практики студенты проживали в палаточном лагере на живописном берегу Можайского водохранилища, где был организован их быт и отдых. В настоящее время для проживания студентов на территории станции оборудованы комфортабельные домики, вмещающие до 14 человек.
        p Попутно во время практики студенты приобретают навыки полевых работ на воде, эксплуатации моторных лодок, катеров, плавучих станций. В дополнение к программе практики традиционно проводятся две экскурсии – на Можайский гидроузел для знакомства с его гидротехническими сооружениями и в Исторический музей-заповедник «Бородино», расположенный в Можайском районе вблизи водохранилища.
        figure.figure
          img.figure__img.figure__img--pair(src='../img/field/teaching-11.jpg', alt='Students posing near a war monument')
          img.figure__img.figure__img--pair(src='../img/field/teaching-12.jpg', alt='Students approaching a historical building')
        p Параллельно с учебной практикой на станции ведется научная работа. Студенты имеют возможность пообщаться с учеными из МГУ и других научных организаций, по желанию в свободное время принять участие в их работах.
    include footer.pug




