- var link = '../gallery-2017.html';
- var language = 'EN';
- var n = 1;
- var arr = [5, 10, 14, 17, 21];

doctype html
html(lang="ru")
  head
    include head.pug
  body
    include header.pug
    main.main
      h1.main__h1 2017
      .gallery__container
        img.figure__img.gallery__img(src='../img/gallery/2017/1.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/2.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/3.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/4.jpg', alt='')
        img.figure__img.gallery__img.gallery__img--150-200(src='../img/gallery/2017/5.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/6.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/7.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/8.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/9.jpg', alt='')
        img.figure__img.gallery__img.gallery__img--150-200(src='../img/gallery/2017/10.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/11.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/12.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/13.jpg', alt='')
        img.figure__img.gallery__img.gallery__img--150-200(src='../img/gallery/2017/14.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/15.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/16.jpg', alt='')
        img.figure__img.gallery__img.gallery__img--150-200(src='../img/gallery/2017/17.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/18.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/19.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/20.jpg', alt='')
        img.figure__img.gallery__img.gallery__img--150-200(src='../img/gallery/2017/21.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/22.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/23.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/24.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/25.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/26.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/27.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/28.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/29.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/30.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/31.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/32.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/33.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/34.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/35.jpg', alt='')
        img.figure__img.gallery__img(src='../img/gallery/2017/36.jpg', alt='')
      .modal 
        .modal__sub
          .modal__controllers
            .modal__controller.modal__controller__arrow--left &larr;
            .modal__controller.modal__controller__close &times;
            .modal__controller.modal__controller__arrow--right &rarr;
          img.modal__content 
    include footer.pug