header.header
    a.header__language(href=link) 
        p.header__text.header__text__language #{language} 
    
    a.header__logo.header__logo--left(href="https://www.msu.ru", target="_blank") 
        include ../msu.svg
        //- (svg-file) .logo
        p.header__text МГУ<br>им. М. В. Ломоносова</p>
        
    a.header__logo.header__logo--right(href="http://www.eng.geogr.msu.ru/", target="_blank")
        include ../geo.svg 
        //- (svg-file) .logo .logo--hidden-in-mobile
        p.header__text.header__text--line-height Географический факультет

    a.header__title(href="index.html" target="_blank")
        h1.header__text.header__text__h1 Красновидовская<br> учебно-научная станция

    nav.header__nav
        div.nav__hamburger.nav__hamburger--hidden(role="button" tabindex="0")
            div.nav__hamburger__bar.nav__hamburger__bar1
            div.nav__hamburger__bar.nav__hamburger__bar2
            div.nav__hamburger__bar.nav__hamburger__bar3
        
        ul.nav__bar.nav__bar--visible
            li.nav__bar__main.nav__bar__main--odd(role="button" tabindex="0") О станции &#9660;
                ul.bar__extra__set
                    li.item__extra
                        a.item__extra__text(href="history.html") История
                    li.item__extra  
                        a.item__extra__text(href="mission.html") Наша миссия
            
            li.nav__bar__main.nav__bar__main(role="button" tabindex="0") Сотрудники &#9660;
                ul.bar__extra__set
                    li.item__extra
                        a.item__extra__text(href="staff.html") Научный и технический персонал
                    li.item__extra
                        a.item__extra__text(href="faculty.html") Коллеги
                    li.item__extra
                        a.item__extra__text(href="partners.html") Партнёры
            
            li.nav__bar__main.nav__bar__main--odd(role="button" tabindex="0") Учебная работа &#9660;
                ul.bar__extra__set
                    li.item__extra
                        a.item__extra__text(href="field.html") Учебные практики
                    li.item__extra
                        a.item__extra__text(href="#") Производственная практика

            li.nav__bar__main.nav__bar__main(role="button" tabindex="0") Научная работа &#9660;
                ul.bar__extra__set
                    li.item__extra
                        a.item__extra__text(href="#") Проекты
                    li.item__extra
                        a.item__extra__text(href="publications.html") Публикации

            li.nav__bar__main.nav__bar__main--odd(role="button" tabindex="0") Материалы &#9660;
                ul.bar__extra__set
                    li.item__extra
                        a.item__extra__text(href="data.html") Данные
                    li.item__extra
                        a.item__extra__text(href="#") Карты
                    li.item__extra
                        a.item__extra__text(href="miscellaneous.html") Полезные материалы
            a.nav__bar__main(href="contacts.html") Контакты