- var link = '../404.html';
- var language = 'EN';
- var i = 1;
- var j = 0;

<!DOCTYPE html>
<html lang="ru">
    include head.pug
    body
        include header.pug
        main.main
            .slideshow
                .slideshow__container
                    while (i < 9 )
                        img.slideshow__image(src="../img/slideshow/"+ i +"-500.jpg", alt="image " + i++)
                    .slideshow__arrow.slideshow__arrow--left &#10094;
                    .slideshow__arrow.slideshow__arrow--right &#10095;
                .slideshow__dots
                    each _ in Array(8)
                        div.slideshow__dot

            section.main__text
                p Красновидовская учебно-научная станция географического факультета Московского государственного университета имени М.В.Ломоносова является центром проведения лимнологических и гидроэкологических исследований, а также служит полигоном для проведения практик студентов-географов различных специальностей. 
                p Здесь ведется постоянный гидроэкологический мониторинг состояния Можайского водохранилища, на берегу которого расположена станция. Также сотрудниками из разных организаций на базе станции ежегодно проводятся полевые эксперименты, направленные на изучение закономерностей внутриводоемных процессов, определяющих формирование качества воды. 
                    a.index__link(href="mission.html") Наша миссия
            hr
            section.main__text
                p Можайское водохранилище - небольшой долинный водоем, расположенный на западе Московской области в верховьях р.Москвы, самый крупный из 4 водохранилищ Москворецкой системы водоснабжения г.Москвы. Водосборная территория составляет 1360 км2, основные притоки - реки Москва, Колочь, Лусянка.  Водохранилище имеет длину 28 км и максимальную глубину до 22 м. Водоем характеризуется низким уровнем антропогенного загрязнения, поступающего в основном с диффузным стоком. Трофический статус водохранилища оценивается как эвтрофный, сильные вспышки цветения сине-зеленых водорослей происходят здесь в среднем 1 раз в 3-5 лет. 
                    a.index__link(href="#") Можайское водохранилище
        include footer.pug
</html>