- var link = '../index.html';
- var language = 'EN';
- var i = 1;
- var j = 0;

<!DOCTYPE html>
<html lang="ru">
    include head.pug
    body
        include header.pug
        main.main.index
            section.index__section.index__section--station.main__text
                p 
                    span.index__em Красновидовская учебно-научная станция 
                    | географического факультета Московского государственного университета имени М.В.Ломоносова является центром проведения лимнологических и гидроэкологических исследований, а также служит полигоном для проведения практик студентов-географов различных специальностей. 
                p Здесь ведется постоянный гидроэкологический мониторинг состояния Можайского водохранилища, на берегу которого расположена станция. Также сотрудниками из разных организаций на базе станции ежегодно проводятся полевые эксперименты, направленные на изучение закономерностей внутриводоемных процессов, определяющих формирование качества воды. 
                    a.index__link(href="mission.html") Наша миссия...

            section.index__section.index__section--slideshow
                .slideshow
                    .slideshow__container
                        while (i < 9 )
                            img.slideshow__image(src="../img/slideshow/"+ i +"-500.jpg", alt="image " + i++)
                        .slideshow__arrow.slideshow__arrow--left &#10094;
                        .slideshow__arrow.slideshow__arrow--right &#10095;
                    .slideshow__dots
                        each _ in Array(8)
                            div.slideshow__dot

            section.index__section.index__section--news.main__text
                h3.index__heading Новости
                .news__subsection
                    .news__subsection--date 3. Oct. 11 
                    .news__subsection--text Don't forget 3. Oct. 11
                .news__subsection
                    .news__subsection--date 3. Oct. 11 
                    .news__subsection--text Don't forget 3. Oct. 11

            section.index__section.index__section--reservoir.main__text
                p 
                    span.index__em Можайское водохранилище 
                    |- небольшой долинный водоем, расположенный на западе Московской области в верховьях р.Москвы, самый крупный из 4 водохранилищ Москворецкой системы водоснабжения г.Москвы. Водосборная территория составляет 1360 км<sup>2</sup>, основные притоки - реки Москва, Колочь, Лусянка.  Водохранилище имеет длину 28 км и максимальную глубину до 22 м. Водоем характеризуется низким уровнем антропогенного загрязнения, поступающего в основном с диффузным стоком. Трофический статус водохранилища оценивается как эвтрофный, сильные вспышки цветения сине-зеленых водорослей происходят здесь в среднем 1 раз в 3&ndash;5 лет. 
                    a.index__link(href="reservoir.html") Читать дальше...

            section.index__section.index__section--map
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d85880.96183751905!2d35.75730388660623!3d55.61051622014935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1530302148891" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        include footer.pug
</html>