- var link = '../miscellaneous.html';
- var language = 'EN';
- var n = 1;
- var arr = [5, 10, 14, 17, 21];

doctype html
html(lang="ru")
  head
    include head.pug
  body
    include header.pug
    main.main
      h1.main__h1 Фотографии
      .gallery__link__container
        .gallery__link
          a(href="gallery-2015.html") 
            img.gallery__link__img(src='../img/gallery/2015/2.jpg', alt='')
          h2.main__h2 2015
        .gallery__link
          a(href="gallery-2017.html") 
            img.gallery__link__img(src='../img/gallery/2017/1.jpg', alt='')
          h2.main__h2 2017
    include footer.pug

          //- .gallery__container
          //-   while (n < 36)
          //-     img.gallery__link__img.gallery__img(src="img/gallery/2017/" + n++ +".jpg", alt="")