nav(class="grid-nav")
    div(class="nav-button  mobile-only" role="button" tabindex="0")
        div.bar1
        div.bar2
        div.bar3

    div(class="nav-bar hide-nav-bar")
        div(class="nav-item") 
            button(class="nav-item-main") О станции  
                i(class="fas fa-caret-down")
            ul(class="nav-hidden-links-visible nav-hidden-links")
                li
                    a(href="history.html") История
                li  
                    a(href="mission.html") Наша миссия
        div(class="nav-item")
            button(class="nav-item-main") Сотрудники 
                i(class="fas fa-caret-down")
            ul(class="nav-hidden-links-visible nav-hidden-links")
                li
                    a(href="staff.html") Научный и технический персонал
                li
                    a(href="faculty.html") Коллеги
                li
                    a(href="partners.html") Партнёры
    
        div(class="nav-item")
            button(class="nav-item-main") Учебная работа  
                i(class="fas fa-caret-down")
            ul(class="nav-hidden-links-visible nav-hidden-links")
                li
                    a(href="field.html") Учебные практики
                li
                    a(href="#") Производственная практика
    
        div(class="nav-item")
            button(class="nav-item-main") Научная работа 
                i(class="fas fa-caret-down")
            ul(class="nav-hidden-links-visible nav-hidden-links")
                li
                    a(href="#") Проекты
                li
                    a(href="publications.html") Публикации
    
        div(class="nav-item")
            button(class="nav-item-main") Материалы 
                i(class="fas fa-caret-down")
            ul(class="nav-hidden-links-visible nav-hidden-links")
                li
                    a(href="#") Данные
                li
                    a(href="#") Карты
                li
                    a(href="#") Полезные материалы

        div(class="nav-item")
            a(class="nav-item-main" href="contacts.html") Контакты
