- var link = '../projects.html';
- var language = 'EN';

doctype html
html(lang="ru")
  include head.pug
  body
    include header.pug
    main.main
      h1.main__h1 Проекты
      section.projects
        h2.projects__title Изучение условий формирования продуктивности и качества воды в водохранилищах с использованием автоматизированного исследовательского комплекса
        p 
          strong Участники: К.К. Эдельштейн, А.В. Гончаров, М.Г. Гречушникова, В.В. Пуклаков, Ю.С.Даценко, К.А. Никишина
        p 
          em Проект поддержан Российским фондом фундаментальных исследований (РФФИ  18-05-01066)
        .projects__text
          p Проект направлен на изучение изменчивости продукционно-деструкционных процессов в водоеме в зависимости от режима фотосинтетически активной радиации (ФАР) и основных гидролого-гидрохимических факторов – на основе непрерывной записи данных с помощью регистрирующей аппаратуры, а также с помощью математического моделирования. Авторы исходят из того, что именно интенсивностью и внутрисуточной, синоптической и межгодовой цикличностью продукционно-деструкционных процессов определяется интенсивность самоочищения воды и в итоге – ее качество. При этом интенсивность самоочищения, в принципе, поддается управлению в водохранилищах благодаря присущей им техногенной цикличности наполнения и сработки. Нужно лишь учитывать текущие погодные условия и уметь прогнозировать изменение внутриводоемных процессов при ожидаемых изменениях погоды и стока с водосбора воды вместе с приносимыми ею биогенными веществами. На проверку этой гипотезы и направлен проект. Он впервые базируется, во-первых, на учащенной непрерывной регистрации ФАР и метеохарактеристик одновременно с регистрацией интенсивности продукции и деструкции, температуры и освещенности водной массы в вегетационный период, и, во-вторых, на модельных диагностических и прогностических расчетах по гидроэкологической модели ГМВ-МГУ, пригодной для водохранилищ любого морфологического класса и любого вида регулирования речного стока, модернизированной на основе этих принципиально новых данных. В проекте используется разработанный авторами исследовательский комплекс, включающий в себя: автоматизированную продукционную установку, позволяющую ежечасно определять продукцию и деструкцию органического вещества в водоеме; непрерывно автоматически опускающийся и поднимающийся от дна к поверхности зонд, регистрирующий температуру, электропроводность, растворенный кислород, рН, хлорофилл «а»; автоматическую метеостанцию, регистрирующую атмосферное давление, температуру и влажность воздуха, осадки, направление и скорость ветра, ФАР; датчики подводной освещенности. Новизна проекта заключается также в использовании разработанной авторами двумерной модели, которая будет усовершенствована с учетом новых данных, дополнена новым экологическим блоком. Модель будет верифицирована и применена для диагностических расчетов, для прогнозирования состава и качества воды, для разработки рекомендаций по регулированию экологического состояния водохранилищ.
      section.projects
        h2.projects__title Прогноз эвтрофирования малых озер при изменении климата
        p
          strong Участники: Оксана Ерина, Дмитрий Соколов, Мария Терешина, Елена Вилимович, Василий Ефимов
        p
          em Проект поддержан Российским фондом фундаментальных исследований (РФФИ 18-35-00691)
        .projects__text
          p Цель работы – количественно оценить уровень воздействия климатических изменений на интенсификацию эвтрофирования малых озер при наличии антропогенного загрязнения и без него при помощи методов математического моделирования.
          p  Для того, чтобы разграничить влияние климатических изменений и антропогенных факторов на водные экосистемы малых озер, в качестве объектов были выбраны водоемы с минимальной нарушенностью водосбора и практически не испытывающие антропогенного влияния – озеро Глубокое, расположенное в Рузском районе Московской области, а также два озера Керженского биосферного заповедника Нижегородской области – Нижнее Рустайское и Круглое. Для этих водоемов возможно осуществление долгосрочного прогноза как в условии отсутствия поступления биогенных загрязнений, так и при различных вариантах изменения антропогенной нагрузки.
        .projects__text
          h3
            strong Задачи Проекта:
          ol.projects__list
            li Обобщение комплекса гидроэкологических характеристик озер Глубокое, Нижнее Рустайское и Круглое, анализ соотношения форм фосфора в водоемах и изучение внутригодовой и межгодовой динамики хлорофилла «а».
            li Проведение учащенных экспедиционных исследований, направленных на получение массового материала наблюдений за метеорологическими, гидрологическими, гидрохимическими и гидробиологическими характеристиками, необходимыми для моделирования озерных экосистем.
            li Адаптация одномерных гидроэкологических моделей Mylake и GLM-FABM-AED для объектов исследования, проведение калибровки параметров моделей и их верификации на независимом материале.
            li Выбор сценариев изменения климата, предложенных в рамках 5 Оценочного доклада Межправительственной группы экспертов по изменению климата, и проведение серии прогностических расчетов многолетней динамики озерных экосистем до 2100 года.
            li Разработка сценариев антропогенного воздействия на водосборную территорию исследуемых озер и оценка влияния изменений климата на интенсивность процессов эвтрофирования озер при различном уровне антропогенного воздействия.
      section.projects
        h2.projects__title  Изучение и параметризация внутригодовой изменчивости качества воды в притоках водохранилищ москворецкой системы водоснабжения г. Москвы
        p
          strong Участники: Дмитрий Соколов, Оксана Ерина,Мария Терешина, Елена Вилимович
        p
          em Проект поддержан Российским фондом фундаментальных исследований (РФФИ 16-35-00199)
        .projects__text
          p Проект посвящён изучению современного гидрохимического режима притоков водохранилищ питьевого назначения и его параметризации с целью повышения качества имитационного моделирования экологического состояния водохранилищ. Задание некачественной исходной информации при отсутствии натурных данных режимных исследований химического состава речных вод, питающих водохранилища, негативно сказывается на результатах имитационного моделирования. В рамках проекта на основании анализа имеющихся данных и проведения собственных экспедиционных исследований гидрохимического режима притоков водохранилищ москворецкой системы водоснабжения г. Москвы изучаются особенности внутригодовой изменчивости показателей качества речных вод, а также выявляются и параметризуются зависимости этих показателей от стандартных гидрометеорологических характеристик (например, расход речного стока) и других факторов. Количественно оценивается чувствительность лимнологических моделей к качеству исходных данных и эффективность использования полученных зависимостей.
    include footer.pug