- var link = '../staff.html';
- var language = 'EN';

doctype html
html(lang="ru")
  include head.pug
  body
    include header.pug
    main.main
      h1.main__h1 Научный и технический персонал
      .employee
        .employee__photo
          img.employee__photo__img(src='../img/staff/puklakov.jpg', alt='')
        .employee__data
          p.employee__data__name
            | Пуклаков Валерий Владимирович 
            a(href='mailto:puklakov@mail.ru')
              i.employee__fa.far.fa-envelope
          p.employee__data__status Заведующий станцией, к.г.н.
          a.employee__data__page(href='about-puklakov.html') Личная страница
      .employee
        .employee__photo
          img.employee__photo__img(src='../img/staff/puklakova.jpg', alt='')
        .employee__data
          p.employee__data__name Пуклакова Надежда Герасимовна
          p.employee__data__status Заместитель по административным и хозяйственным вопросам
      .employee
        .employee__photo
          img.employee__photo__img(src='../img/staff/sokolov.jpg', alt='')
        .employee__data
          p.employee__data__name
            | Соколов Дмитрий Игоревич 
            a(href='mailto:dmitriy.sokolov@yandex.ru')
              i.employee__fa.far.fa-envelope
          p.employee__data__status Старший научный сотрудник, к.г.н.
          a.employee__data__page(href='about-sokolov.html') Личная страница
      .employee
        .employee__photo
          img.employee__photo__img(src='../img/staff/erina.jpg', alt='')
        .employee__data
          p.employee__data__name
            | Ерина Оксана Николаевна 
            a(href='mailto:oxana.erina@geogr.msu.ru')
              i.employee__fa.far.fa-envelope
          p.employee__data__status Научный сотрудник, к.г.н.
      .employee
        .employee__photo
          img.employee__photo__img(src='../img/staff/shkolnyi.jpg', alt='')
        .employee__data
          p.employee__data__name
            | Школьный Данила Игоревич 
            a(href='mailto:thabigd@gmail.com')
              i.employee__fa.far.fa-envelope
          p.employee__data__status Научный сотрудник
      .employee
        .employee__photo
          img.employee__photo__img(src='../img/staff/nemaltsev.jpg', alt='')
        .employee__data
          p.employee__data__name Немальцев Александр Семенович
          p.employee__data__status Инженер
      .employee
        .employee__photo
          img.employee__photo__img(src='../img/staff/kochneva_.jpg', alt='')
        .employee__data
          p.employee__data__name Кочнева Валентина Васильевна
          p.employee__data__status Лаборант
      .employee
        .employee__photo
          img.employee__photo__img(src='../img/staff/lakhmytkin.jpg', alt='')
        .employee__data
          p.employee__data__name Лахмыткин Семен Павлович
          p.employee__data__status Капитан, технический специалист
      .employee
        .employee__photo
          img.employee__photo__img(src='../img/staff/bulgakov.jpg', alt='')
        .employee__data
          p.employee__data__name Булгаков Алексей
          p.employee__data__status Технический специалист
      .employee
        .employee__photo
          img.employee__photo__img(src='../img/staff/nemaltsevjn.jpg', alt='')
        .employee__data
          p.employee__data__name Немальцев Александр Александрович
          p.employee__data__status Технический специалист
    
    include footer.pug