doctype html
html(lang="en")
  include head.pug
  link(rel="stylesheet" href="css/staff.css")
  body
    include header.pug
    main
      h1 Научный и технический персонал
      .employee
        .employee-photo
          img(src='img/staff/puklakov.jpg', alt='')
        .employee-data
          p.employee-name
            | Пуклаков Валерий Владимирович 
            a(href='mailto:puklakov@mail.ru')
              i.far.fa-envelope
          p Заведующий станцией, к.г.н.
      .employee
        .employee-photo
          img(src='img/staff/puklakova.jpg', alt='')
        .employee-data
          p.employee-name Пуклакова Надежда Герасимовна
          p Заместитель по административным и хозяйственным вопросам
      .employee
        .employee-photo
          img(src='img/staff/sokolov.jpg', alt='')
        .employee-data
          p.employee-name
            | Соколов Дмитрий Игоревич 
            a(href='mailto:dmitriy.sokolov@yandex.ru')
              i.far.fa-envelope
          p Старший научный сотрудник, к.г.н.
      .employee
        .employee-photo
          img(src='img/staff/erina.jpg', alt='')
        .employee-data
          p.employee-name
            | Ерина Оксана Николаевна 
            a(href='mailto:oxana.erina@geogr.msu.ru')
              i.far.fa-envelope
          p Научный сотрудник, к.г.н.
      .employee
        .employee-photo
          img(src='img/staff/shkolnyi.jpg', alt='')
        .employee-data
          p.employee-name
            | Школьный Данила Игоревич 
            a(href='mailto:thabigd@gmail.com')
              i.far.fa-envelope
          p Научный сотрудник
      .employee
        .employee-photo
          img(src='img/staff/nemaltsev.jpg', alt='')
        .employee-data
          p.employee-name Немальцев Александр Семенович
          p Инженер
      .employee
        .employee-photo
          img(src='img/staff/kochneva.jpg', alt='')
        .employee-data
          p.employee-name Кочнева Валентина Васильевна
          p Лаборант
      .employee
        .employee-photo
          img(src='img/staff/lakhmytkin.jpg', alt='')
        .employee-data
          p.employee-name Лахмыткин Семен Павлович
          p Капитан, технический специалист
      .employee
        .employee-photo
          img(src='img/staff/bulgakov.jpg', alt='')
        .employee-data
          p.employee-name Булгаков Алексей
          p Технический специалист
      .employee
        .employee-photo
          img(src='img/staff/nemaltsevjn.jpg', alt='')
        .employee-data
          p.employee-name Немальцев Александр Александрович
          p Технический специалист
    
    include footer.pug
    script(src="structure.js")