doctype html
html(lang="en")
  include head.pug
  link(rel="stylesheet" href="css/staff.css")
  body
    include header.pug
    main
      h1 Our Partners
      .container
        .partner
          div
            img.logo-too-large(src='img/partners/waterprobl.png', alt='logo')
          p Water Problems Institute
          div
            img.logo-small(src='img/partners/atmphis.gif', alt='logo')
          p A.M. Obukhov Instinute of Atmospheric Physics
          div
            img.eng.logo-small(lang='en', src='img/partners/vniro_en.svg', alt='logo')
            img.rus.hidden-lang.logo-small(lang='ru', src='img/partners/vniro_ru.svg', alt='logo')
          p Russian Federal Research Institute of Fisheries and Oceanography
    include footer.pug
    script(src="structure.js")