header {
    padding-top: 2vh;
}
//resizable logos (TODO: change fill color via scss)
//logos (two --> one line)
.logos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    >a {
        margin:auto;
        min-width: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    >a img {
        height: calc(10px + 5vw);
        padding: 0 calc(10px + 2vw);
    }
}
//resizable title
header > h1 {
    font-size: calc(1.5em + 2vw);
    padding: 3vh 0;
    text-align: center;
}
//navigation menu
.nav {
    >button {
        height: 40px;
        width: 100%;
        background:  rgba(133, 130, 145, 0.3);
        border-radius: 5px;
    }
}
//styling of visible links
.nav-visible-link >a {
    font-size: 1.8em;
    padding: 5px 0;
    border-bottom: 1px dashed rgba(133, 130, 145, 0.6);
    cursor: pointer;
    display: block;
}

//hidden links emerge from here (+styling for the dropout)
.nav-toggling-link {
    &:hover >a {
        text-decoration: underline;
    }
    &:hover .nav-hidden-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: rgba(133, 130, 145, 0.3);
        >a{
            font-size: 1.6em;
            padding: 5px 0px 5px 5px;
            border-bottom: 1px dashed rgba(133, 130, 145, 0.6);
        }
    }
}
.nav-hidden-links >a:hover {
    background:  rgba(133, 130, 145, 1);
}

//invisibility cloak
.hide-me {
    display: none;
}