@media (min-width: 430px) {
    //Temporary adjustments
    .index-slideshow img {
        max-height: 90%;
    }
}

@media (min-width: 700px) {
    .index-main {
        grid-template-columns: 48vw 48vw;
        grid-template-areas:
        "index-slideshow index-news"
        "index-textfield-left index-textfield-left"
        "index-textfield-right index-textfield-right";
    }
}

@media (min-width: 800px) {
    .index-main {
        grid-template-columns: 45vw 45vw;
        grid-template-areas:
        "index-slideshow index-news"
        "index-textfield-left index-textfield-right";
    }
}