header {
    text-align: center;
}
/* 
============= LOGOS =============
LOGOS have three display types: logo + two links, two logos, and logo/title/logo.
HTML: two interchangable pieces of code (.logos-small vs .logos-large)

ACHTUNG
    (p) height: 2.5rem; - arbitrary
    (.main-title) flex-basis: 400px; - arbitrary
    (.logos-large, nav) width limit is set to 1000px: should be fixed if I want a colored 100vw background
*/

//Type 1: one logo
.logos-small {
    @include flex-wrap-sp-around();
    .logo {
        @include logo-size($logo-min);
        flex-basis: 100%;
    }
    .formal-links {
        min-width: $min-width;
    }
    .main-title {
        flex-basis: 100%;
        min-width: $min-width;
    }
}
.logos-large {
    display: none;
}

//Type 2: two logos
@media (min-width: $two-logos) {
    .logos-small {
        display: none;
    }

    .logos-large {
        @include flex-wrap-sp-around();
        p {
            height: 2.5rem; // Achtung!
            @include align-center();
        } //aligns two-line and one-line titles
        .title-and-lang {
            width: 100vw; //main title has its own line
        } 
    }
    .logo {
        @include logo-size($logo-average);
    }
}

//Type 3: logo-text-logo
@media (min-width: $last-breakpoint) {
    .logos-large, nav { // Achtung!
        width: $max-width;
        margin: auto;
    }
    .logos-large-right {
        order: 3; //second logo goes after main title
    }
    .logos-large {
        align-items: center; //main title is centered using flex
        .title-and-lang {
            flex-basis: 400px; // Achtung!
        }
    }
    .logos-large img {
        @include logo-size($logo-max);
    }
}

/* 
============= HAMBURGER BUTTON =============
ACHTUNG
    (.bar1, .bar2, .bar3) margin-top/bottom 6px - arbitrary, depends on design
*/
.nav-button {
    cursor: pointer;
}
//Hamburger button: visual effects
.bar1, .bar2, .bar3 {
    width: 70px;
    height: 5px;
    background-color: $dark-blue;
    margin: 6px auto; // Achtung!
    border-radius: 10px;
    @include transition(0.5s);
}

.nav-button:hover {
    .bar1, .bar3 {
        @include scaleX(0.8);
    }
    .bar2 {
        @include scaleX(2);
        opacity: 0.7;
    }
}

/*============= NAV BAR =============
Three classes are toggled to enable slower transitions
.nav-bar-hidden: show/hide main links
.nav-bar-vis: slowly increase opacity to 1
.nav-bar-invis: slowly reduce opacity to 0
*/

.nav-bar-hidden {
    display: none;
}

.nav-bar-invis {
    opacity: 0;
    @include transition(); 
}

.nav-bar-vis {
    opacity: 1;
    @include transition(); 
}

/*Additional links (.nav-hidden-links) are controlled by .nav-toggler.
Opacity 0 makes links invisible. Zero heigh with hidden overflow makes them inacessible. */

.nav-hidden-links {
    display: none;

    // margin: auto;
    // width: 80%;
    // display: flex;
    // flex-direction: column;
    // height: 0;
    // opacity: 0; 
    // overflow: hidden;
    // @include transition(1s); 
}
//Show additional links on hover
.nav-toggler:hover .nav-hidden-links {
    // opacity: 1;
    // height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    z-index: 1;
    min-width: 80vw; 
    background: aqua;
    @include transition(1s);// Achtung!
}

/*============= From HAMBURGER to NAV BAR =============
ACHTUNG
    (.nav-hidden-links) min-width: 30vw; - should be changed, depends on design
    (.nav-bar) marginX - arbitrary margin for medium viewports
*/
@media (min-width: $hamburger-to-nav) {
    .nav-button {
        display: none;
    }
    .nav-bar {
        @include marginX(2vw);
        display: flex;
        justify-content: space-between;
        opacity: 1;
        height: auto;
    }
    //Different representation of additional links
    .nav-toggler {
        position: relative;
    }
    .nav-hidden-links {
        position: absolute;
        z-index: 1;
        min-width: 30vw; // Achtung!
    }
}
