main {
    max-width: $max-width;
    min-width: $min-width;
    margin: auto;
    padding: 2vw;
    display: flex;
}

// .main-slideshow img {
//     width: $min-width;
//     box-shadow: 0 0 20px rgba(0,0,0,0.4); 
// }

// .titles {
//     font-size: 1.2em;
//     line-height: 1.5em;
// }

// .main-news p {
//     padding: 10px;
// }