- var link = 'ru/404.html';
- var language = 'RU';

doctype html
html(lang="en-US")
    head
        include head.pug
    body
        include header.pug
        main.main
            h1.main__h1 This page is not ready yet
        include footer.pug