doctype html
html(lang="en")
  include head.pug
  link(rel="stylesheet" href="css/staff.css")
  body
    include header.pug
    main
        h1 This page is not ready yet.
        p Let's try something else!
    include footer.pug
    script(src="structure.js")