- var link = 'ru/about-goncharov.html';
- var language = 'RU';

doctype html
html(lang="en-US")
  head
    include head.pug
  body
    include header.pug
    main.main
        .employee.employee--personal
            .employee__photo
                img.employee__photo__img(src="img/faculty/goncharov.png" alt="")
            .employee__data.employee__data--personal
                p.employee__data__name Гончаров Александр Валентинович
                    a(href="mailto:mama15333@mail.ru")
                        i.employee__fa.far.fa-envelope
                p.employee__data__status Ведущий научный сотрудник, к.б.н.
        .main__text
            p Long ago, when I was a student, I had been working as an intern on the small lakes in Kaliningrad region. I thought: what if it is possible to find out something about inhabitants of the lake, simply by looking at it and describing it. I didn’t pay much attention to that, but later I realised, that this idea was following me.  
            p I tried to distinguish the connection between landscape parameters of the catchment, chemical composition of the water and phytoplankton community in my phD thesis. So that you can distinguish hydrochamical and hydrobiological parameters by the landscape map, without in-situ measurements. Surprisingly, it worked. 
            p As well as this, I started to study biological indication, namely how to estimate the ecological state of a river or a lake using the information about parameters of the phytoplankton community. This approach turned out to be demanded at the department of Land Hydrology. I started studying phytoplankton in Moscow region reservoirs and tried to explain their eutrophication with morphometric parameters and hydrological conditions.
            p I managed to find a connection between bottom sediments and river biocenosis at different rivers, that I considered in my studies. It helped to create a map of bottom invertebrates in Selenga river delta, as well as in small rivers all around Russia. Don river was also considered as an example to the correlation of the phytoplankton and fish  biomass with the hydrological conditions. 
            p It is known that, functional ecosystem parameters reflect the changes in the dissolved oxygen concentration. Talking about oxygen regime of the rivers in the territory of Russia, I have managed to find geographical patterns of its formation and biocenoses activity. 
            p For  the Mozhaysk reservoir research, I developed the automatic installation for studying primary production and destruction processes in the ecosystem. 
            p Besides that, I lead the hydrobiological part of the summer field course at the Krasnovidovo station: we study phytoplankton and zooplankton, primary production and destruction in the water. During the student summer field training at Oka river, I also lead the hydrobiological part, considering such topics, as water quality estimation, mapping macrophyte distribution in the river, disolved oxygen in the river. I also give hydroecology lectures for the senior  BSc. students at the Land hydrology department. 
    include footer.pug