- var link = 'ru/about-grechushnikova.html';
- var language = 'RU';

doctype html
html(lang="en-US")
  head
    include head.pug
  body
    include header.pug
    main.main
        .employee.employee--personal
            .employee__photo
                img.employee__photo__img(src="img/faculty/grechushnikova.jpg" alt="")
            .employee__data.employee__data--personal
                p.employee__data__name Maria Grechushnikova 
                    a(href="mailto:allavis@mail.ru")
                        i.employee__fa.far.fa-envelope
                p.employee__data__status Leading Scientist, PhD
        .main__text
            p Maria Grechushnikova is a leading scientist of land hydrology department in LMSU faculty of geography. Since 1993 (with rare exceptions) she is a member of annual field works on the Mozhaysk reservoir. The sphere of scientific interests started from lake physics and mathematical modeling and moved to hydroecology. Her hydrological research have started from lake physic, now she works with mathematical modeling issues and hydroecology.
            p When in 1996 our station was not yet equipped with loggers, Maria fulfilled a long inter-day measurements of water temperature near Krasnovidovo with time interval from 15 minutes to 1 hour. These measurements were used to validate a new version of heat-mass exchange model of reservoir with hourly time step. Then this version was updated by Victor Stepanenko (meteorology and climatology department) with new subroutines to count inter-day changes of heat balance components and intensification of evaporation above shallow zones, worked out by Gennadiy Panin. 
            p Collaboration with Institute of atmospheric physics and Institute of water problems of Russian Academy of science opened new opportunities and directions of research investigations. Since 2015 Maria has been organizing monitoring of methane concentration and emission at Krasnovidovo. These detailed observations practically have no analogues in the world practice. We study methane exchange with bottom sediments of different type along the reservoir. 
            p Currently we are planning to study emission from different regions of reservoir (shallow upstream part, middle and deep part near the dam); emission during full mixing spring and fall periods; emission during surge phenomena; experiments to measure the rate of oxidation on different water depth. This data will be used for validation of model LAKE2.0, developed by Victor Stepanenko. The most important part of the research plan is to integrate the subroutine counting methane processes in the empirical hydrological model of reservoir, developed by limnological group of LMSU land hydrology department.
            p Since 2012 Maria has been organizing measurements of water temperature during the ice-free period with ONSET HOBO loggers on the depth of 0.5, 1, 2, 3, 5, 7 and 10 m. The Vantage Pro automatic weather station is simultaneously measuring characteristics above the water.
    include footer.pug