doctype html
html(lang="en")
  include head.pug
  link(rel="stylesheet" href="css/staff.css")
  body
    include header.pug
    main
      section
        h1 Limnological Field Practice
        p
          | Undergraduate students from department of land hydrology get  their limnology field summer training at the Krasnovidovo station for 3 weeks after their second year at the university.
        p
          strong
            em The field training objective
          |  is to familiarise the students with advanced techniques for exploring lakes and reservoirs, which allow to comprehensively assess the current state and dynamics of water bodies’ ecosystems.
        p The field training programme includes the following:
        p
          strong Hydroecological observations
          | . These are conducted to examine vertical distribution and daily fluctuation of the main hydrological, hydrochemical and hydrobiological characteristics under changing meteorological conditions. Measurements are taken at the point where the buoy is installed. Every three hours students take water samples, measure meteorological characteristics, vertical distribution of water temperature, conductivity, dissolved oxygen content, and pH. In recent years an automatic weather station and loggers, measuring the water temperature and dissolved oxygen content at different depths every 10 minutes, have been installed on the buoy. In addition, students set up a station to measure the primary production, and destruction of organic matter in the water body using the Vinberg method. In parallel, primary production is measured by the automatic station designed by the Land Hydrology Department staff.
        figure.img-tweens.img-shared-caption.img-enlarge-on-hover
          img(src='img/500px/teaching-01.jpg', srcset='img/220px/teaching-01.jpg 220w, img/500px/teaching-01.jpg 500w', sizes='(max-width: 600px) 220vw, (max-width: 1024px) 500w, 500px', alt='Students in a boat')
          img(src='img/500px/teaching-02.jpg', srcset='img/220px/teaching-02.jpg 220w, img/500px/teaching-02.jpg 500w', sizes='(max-width: 600px) 220vw, (max-width: 1024px) 500w, 500px', alt='A group of happy students')
        p
          strong Hydroecological survey of the reservoir
          | . The surveying is conducted by small groups of students on boats, to study the spatial heterogeneity of the reservoir’s water ecosystem and identify water masses of various origins. The entire reservoir is explored, using buoys installed throughout its surface beforehand. The work also includes meteorological observations; measuring distribution of water temperature, electrical conductivity, and dissolved oxygen content in the water column; and taking samples for chemical and biological analysis.
        figure.img-tweens.img-shared-caption.img-enlarge-on-hover
          img(src='img/500px/teaching-03.jpg', srcset='img/220px/teaching-03.jpg 220w, img/500px/teaching-03.jpg 500w', sizes='(max-width: 600px) 220vw, (max-width: 1024px) 500w, 500px', alt='#')
          img(src='img/500px/teaching-04.jpg', srcset='img/220px/teaching-04.jpg 220w, img/500px/teaching-04.jpg 500w', sizes='(max-width: 600px) 220vw, (max-width: 1024px) 500w, 500px', alt='#')
        p
          strong Hydrobiological observations
          |  include taking samples across the water surface area, studying hydrobiont species, and counting phytoplankton and zooplankton biomass under a microscope. The focus is put on plankton, as it plays the main functional role in lake-type reservoirs. Students study live plankton so they could observe specific features of the organisms’ structure, movement, nutrition, and reproduction. To estimate the productivity of the reservoir, the numbers and biomass of phyto- and zooplankton are counted. The spatial distribution of plankton organisms is considered in connection with changes in environmental conditions, both down the depth, and along the length of the reservoir; the composition and quantity of benthic invertebrates at different depths is also determined. Detailed taxonomic identification of organisms is seen as a secondary objective. Students also have an opportunity to study the fauna of aquatic plant thickets, and conduct ichthyological research (fish is caught using nets).
        figure.img-tweens.img-shared-caption.img-enlarge-on-hover
          img(src='img/500px/teaching-05.jpg', srcset='img/220px/teaching-05.jpg 220w, img/500px/teaching-05.jpg 500w', sizes='(max-width: 600px) 220vw, (max-width: 1024px) 500w, 500px', alt='#')
          img(src='img/500px/teaching-06.jpg', srcset='img/220px/teaching-06.jpg 220w, img/500px/teaching-06.jpg 500w', sizes='(max-width: 600px) 220vw, (max-width: 1024px) 500w, 500px', alt='#')
        p
          strong Mapping the reservoir’s bottom and ground surveys
          | . To get an idea about the relief of the reservoir’s bottom, students measure the depths across a water surface area near the Krasnovidovo station. In addition to obtaining a good knowledge about valley reservoirs’ morphological features, students also acquire basic computer skills required to process echograms, and construct a digital model of a water area’s bottom relief. Along with echolocation, students take samples of bottom sediments in various morphological areas, to study the properties of the reservoir grounds, their spatial heterogeneity, and various sedimentation conditions.
        figure.img-left.img-enlarge-on-hover
          img(src='img/500px/teaching-07.jpg', srcset='img/220px/teaching-07.jpg 220w, img/500px/teaching-07.jpg 500w', sizes='(max-width: 600px) 220vw, (max-width: 1024px) 500w, 500px', alt='#')
        p
          strong Laboratory hydrochemical analysis
          | . Students process the samples taken during the hydrological and hydrochemical surveys and raid observations in the Krasnovidovo station’s hydrochemical laboratory. The laboratory has modern analytical equipment that allows students to master techniques for chemical analysis of natural waters, originally learned in the scope of the "Hydrochemistry" theoretical course.
        p
          | Students also learn titrimetric analysis techniques, electrochemical methods (potentiometric and conductometric), and photometric analysis. They carry out chemical analysis of the samples they took on their own. The indicators they have to measure include the content of major ions, dissolved oxygen, biogenic elements (phosphorus and silicon), indirect indicators of the organic substances’ content (such as chromaticity and permanganate oxidability of water). In addition, students learn the liquid chromatography technique, and prepare samples for subsequent processing using a chromatograph, again on their own. Students also learn to assess the quality of chemical analysis results by estimating the error of complete salt analysis, and by comparing the obtained hydrochemical indicators.
        figure.img-tweens.img-shared-caption.img-enlarge-on-hover
          img(src='img/500px/teaching-08.jpg', srcset='img/220px/teaching-08.jpg 220w, img/500px/teaching-08.jpg 500w', sizes='(max-width: 600px) 220vw, (max-width: 1024px) 500w, 500px', alt='#')
          img(src='img/500px/teaching-09.jpg', srcset='img/220px/teaching-09.jpg 220w, img/500px/teaching-09.jpg 500w', sizes='(max-width: 600px) 220vw, (max-width: 1024px) 500w, 500px', alt='#')
        figure.img-right.img-enlarge-on-hover
          img.hide-in-mobile(src='img/500px/teaching-10.jpg', srcset='img/220px/teaching-10.jpg 220w, img/500px/teaching-10.jpg 500w', sizes='(max-width: 600px) 220vw, (max-width: 1024px) 500w, 500px', alt='A student presents her study')
        p
          | Students process the data collected in the course of observations (to produce materials such as calculations, final results of various kinds of analysis, and their visual representations) on their own, because each of them collects their own samples during field observations.
        p
          | At the end of the field training each student prepares a personal report; a specific chapter is devoted to a study of a topic chosen by the student out of the available options in line with their preferences. The study is supervised by one of the field training teachers. The students defend this chapter at a conference held at the end of the field training and attended by all students, teachers, and staff of the Krasnovidovo station and the Faculty of Geography.
        figure.img-right.img-enlarge-on-hover
          img.hide-in-desktop(src='img/500px/teaching-10.jpg', srcset='img/220px/teaching-10.jpg 220w, img/500px/teaching-10.jpg 500w', sizes='(max-width: 600px) 220vw, (max-width: 1024px) 500w, 500px', alt='A student presents her study')
        p
          | In the past, students used to live in a tent camp set on a picturesque bank of the Mozhaysk reservoir, with basic communal and recreational facilities. But now comfortable cottages are available for them on the station’s grounds, with the capacity to accommodate 14 persons.
        p
          | In addition to everything else, students acquire skills to conduct water based field studies, use motor boats, launches, and buoys. Two excursions are traditionally organised to supplement the field training programme – to the Mozhaysk hydrosystem complex, to take a look at its hydraulic facilities, and to the Borodino Museum located in the Mozhaysk District not far from the reservoir.
        figure.img-tweens.img-shared-caption.img-enlarge-on-hover
          img(src='img/500px/teaching-11.jpg', srcset='img/220px/teaching-11.jpg 220w, img/500px/teaching-11.jpg 500w', sizes='(max-width: 600px) 220vw, (max-width: 1024px) 500w, 500px', alt='Students posing near a war monument')
          img(src='img/500px/teaching-12.jpg', srcset='img/220px/teaching-12.jpg 220w, img/500px/teaching-12.jpg 500w', sizes='(max-width: 600px) 220vw, (max-width: 1024px) 500w, 500px', alt='Students approaching a historical building')
        p
          | Along with hosting students’ field training, the station carries on with its research, so the students have a chance to meet researchers from the MSU and other academic institutes, and took part in their studies when they have free time.
    include footer.pug
    script(src="structure.js")




