footer.footer
  section.footer__section.footer__contacts
    h3.footer__title Contacts
    div.footer__section__content
      a.footer__link(href="tel:+1234567890")
        i.footer__fa.footer__fa--hidden.fas.fa-phone
        |+7(49638) 51619
      a.footer__link(href="mailto:krasnovidovo.station@gmail.com")
        i.footer__fa.far.fa-envelope
        |krasnovidovo.station@gmail.com
      a.footer__link(href="https://www.instagram.com/krasnovidovo.msu/")
        i.footer__fa.fab.fa-instagram
        |instagram.com/krasnovidovo.msu


  section.footer__section.footer__address
    h3.footer__title Address
    address.footer__section__content
      p Krasnovidovo Limnological Station
      p 5 Zelenaya str., Krasnovidovo, <br>Moscow Region, 143221, Russia


  section.footer__section.footer__subscribe
    h3.footer__title Subscribe
    form.footer__section__content(action="#" method="POST") 
      input(id="email"  placeholder="your@email.com" type="email" name="_replyto")
      input.footer__button(type="submit" value="Send")

  section.footer__section.footer__search
    h3.footer__title Are you lost?
    form.footer__section__content
      input(id="search" type="text" placeholder="Enter your request..")
      input.footer__button(type="submit")
script(src="js/functionality-test.js")