footer
  div(class="contacts")
    h3 Contacts
    a(href="tel:+1234567890")
      i(class="fas fa-phone")
      |+7(49638) 51619
    a(href="mailto:krasnovidovo.station@gmail.com")
      i(class="far fa-envelope")
      |krasnovidovo.station@gmail.com
    a(href="https://www.instagram.com/krasnovidovo.msu/")
      i(class="fab fa-instagram")
      |instagram.com/krasnovidovo.msu


  div(class="address")
      h3 Address
      address
        p Krasnovidovo Limnological Station
        p 5 Zelenaya str., Krasnovidovo, <br>Moscow Region, 143221, Russia


  div(class="subscribe")
      h3 Subscribe
      p
        form(action="#" method="POST") 
          input(id="email"  placeholder="your@email.com" type="email" name="_replyto")
          input(class="plain-button" type="submit" value="Send")

  div(class="search")
      h3 Are you lost?
      form
          input(id="search" type="text" placeholder="Enter your request...")
          input(class="plain-button" type="submit")