header
    div.logo.grid-logo-msu
        a(href="https://www.msu.ru/en/", target="_blank")
        include msu-path.svg
        p Lomonosov<br>Moscow State University
    div.logo.grid-logo-faculty.hide-in-mobile
        a(href="http://www.eng.geogr.msu.ru/", target="_blank")
        include alt-geo-logo.svg
        p Faculty of Geography

    div.grid-title
        a(class="main-title" href="index.html" target="_blank")
            h1 Krasnovidovo Limnological Station

    div.grid-language
        input(class="language-button language-button-rus" type="button" value="Rus")

    include navbar.pug

