- var link = 'ru/history.html';
- var language = 'RU';

doctype html
html(lang="en")
  include head.pug
  link(rel="stylesheet" href="css/staff.css")
  body
    include header.pug
    main.main
      h1.main__h1 Our History
      .main__text
        p The Krasnovidovo station was established in 2002 on the basis of the Reservoirs Laboratory of the Land Hydrology Department, which in turn was founded on the basis of the LMSU Faculty of Geography field station. The idea to set up the station was originally proposed by Nikolai Adolfovich Solntsev-Elba (21.02.1902 – 6.11.1991), who at the beginning of 1944 submitted a memo to the Dean of the Faculty of Geography Professor S.D. Muraveisky explaining the need to establish a permanent geographical field station in the vicinity of Moscow. The setting up of the station was supervised by Professors S.D. Muraveisky and K.K. Markov (the Faculty Dean since the autumn of 1945). Its first director was N.N. Gulidov.
        .figure__set
          figure.figure.figure__set__element
            img.figure__img.figure__set__img(src='img/history/history-01.jpg', alt='Geography students')
            figcaption.figcaption Geography students doing morning exercise (Krasnovidovo, the late 1960s)
          figure.figure.figure__set__element
            img.figure__img.figure__set__img(src='img/history/history-02.jpg', alt='Hydrology field practice')
            figcaption.figcaption Hydrology field practice on the Moskva River (1960)
        p Until 1972 more than 400 students of the LMSU faculties of geography, and geology and soil specialising in geomorphology, meteorology, hydrology, soil geography, economic geography, and geodesy, annually conducted field studies at the station.
        p The station staff conducted integrated research in the Moskva River valley in the Mozhaysk District. The results were published in two volumes of the Proceedings of the Krasnovidovo Geographical Station. During that time more than three thousand students completed their field training there, many of whom subsequently became outstanding researchers and geography science managers, including A.P. Kapitsa, N.S. Kasimov, V.N. Konishchev, G.I. Rychagov, R.S. Chalov, et al.
        p Construction of the Mozhaysk reservoir opened a new area for the station’s research. In 1965 Professor V.D. Bykov established the Reservoirs Research Laboratory on the basis of the station.
        p On 30 April, 1965 LMSU Rector I.G. Petrovsky signed the order №166 on establishing the MSU Faculty of Geography’s integrated field research station to study reservoirs (the Reservoirs Research Laboratory), and approved the Laboratory Charter and Work Programme. R.K. Klige became the first head of the laboratory, and V.D. Bykov – it’s first academic supervisor. In 1967 I.M. Kisin was appointed to head the laboratory. A period of rapid development began, with all sorts of equipment and instruments made available to the staff. Since 1971 the Krasnovidovo station was used as the basis for limnologic field training of the LMSU Faculty of Geography’s Land Hydrology Department students. From the very beginning students were actively involved in research. At that time hydrology-hydrochemical synchronous regime surveys began at all the reservoirs of the Moskva River system, to calculate water balance, and balance of dissolved and suspended substances in specific reservoir regions and sections affecting drinking, technological, and recreational properties of the water bodies.
        .figure__set
          figure.figure.figure__set__element
            img.figure__img.figure__img--vertical(src='img/history/history-03.jpg', alt='V.D.Bykov')
            figcaption.figcaption V.D.Bykov
          figure.figure.figure__set__element
            img.figure__img.figure__img--vertical(src='img/history/history-04.jpg', alt='R.K.Klige')
            figcaption.figcaption R.K.Klige
        p Between 1971-1975 the laboratory staff completed 43 surveys of the Mozhaysk reservoir, 15 surveys of the Ruza, 16 of the Ozerna, and 16 of the Istra reservoirs. Between 1971 and 1980 one Doctor of Science, and 12 Candidate of Science (PhD) theses were defended by the station staff. In 1977 the study of the Vazuza-Yauza hydraulic engineering structure began: 2 surveys were conducted before the reservoir was filled in 1977, and 14 more in 1978-1980. During that time the laboratory staff also worked at the Tsimlyansk and Zeya reservoirs.
        figure.figure
          img.figure__img.figure__img--pair(src='img/history/history-05.jpg', alt='Field studies')
          img.figure__img.figure__img--pair(src='img/history/history-06.jpg', alt='Field studies')
          figcaption.figcaption.figcaption--wide Field studies in Krasnovidovo in 1976-1977
        p In 1979 A.S. Nemaltsev was appointed head of the laboratory; in 1982 K.K. Edelstein became its academic supervisor.
        p The work was focused on studying regimes, and forecasting water quality in the reservoirs. In 1968 and 1984 major integrated studies were conducted at the Mozhaysk reservoir in the scope of the “Balance Year” programme. More than 70 hydrology-hydrochemical surveys of the Moskva River reservoirs were completed in 1981-1990 altogether; one Doctor of Science, and four PhD theses were defended by the station staff members.
        p 1991-2000 was a tough period of reforms. Still, the field studies never stopped. The work was concentrated on the Mozhaysk and Istra reservoirs. In 2001 A.S. Nemaltsev retired, but continued working at the laboratory as an engineer. V.V. Puklakov was appointed laboratory head. The main challenge during that time was to survive the winter season: until 2008 the laboratory building hasn’t been heated at all, and subsequently a lot of effort had to be made to restore it to an acceptable state.
        figure.figure
          img.figure__img.figure__img--tripple(src='img/history/history-07.jpg', alt='The laboratory in 2005…')
          img.figure__img.figure__img--tripple(src='img/history/history-08.jpg', alt='The laboratory in 2005…')
          img.figure__img.figure__img--tripple(src='img/history/history-09.jpg', alt='The laboratory in 2005…')
          figcaption.figcaption.figcaption--wide The laboratory in 2005…
        figure.figure.figure--right
          img.figure__img(src='img/history/history-10.jpg', alt='The laboratory in 2015')
          figcaption.figcaption.figcaption--wide … and in 2015
        p The work on restoring the building started in 2001, when N.I. Alekseevsky, the chair of the Land Hydrology Department, allocated the money to repair the collapsed roof. In 2002 the Land Hydrology Department helped with replacing ceiling slabs and sheeting. In 2003-2014 the staff restored all rooms in the laboratory building, and the building’s blind area (the money was provided by sponsors). The faculty helped with replacing the frozen heating system, the lathing, and the roof, and insulating the ceilings. V.V. Lyamtsev and S.M. Sarkisyan paid to repair the basement and replace window frames in the laboratory. Thus gradually, step by step and year by year, the laboratory building was restored to operational state.
        p As to field work, the most important projects were implemented at the Moskva River and the Volga reservoirs which provide water supply to Moscow: 75 surveys were conducted at the Mozhaysk reservoir, including 12 surveys in the scope of the “Balance 2012” programme; three experimental ground tests of its reaches; several surveys at the watershed reservoirs of the Moscow Canal pound and the Moskva River system, the Moskva River channel, and Lake Senezh. A numerical balance box model algorithm was designed (which is improved every year), whose application area ranges from “Water bodies’ composition” (WBC-1971) and “Heat-mass-exchange” (HME-1987) to “Hydrological model of reservoir” (HMR-MSU-2012). The model allows to automate calculation of the increasingly complex system of equations which reproduces daily changes in the ecological state of specific water sections and layers during the current, or any of the previous annual hydrological and water management cycles. The model is adapted for application at any of about a dozen reservoirs in the Volga basin, and can be applied to valley, valley-hollow, and multilobe reservoirs of seasonal and long-term river flow regulation in various geographical zones.
        .figure__set
          figure.figure.figure__set__element
            img.figure__img(src='img/history/history-11.jpg', alt='Head of station')
            figcaption.figcaption
              | Head of station V.V. Puklakov, and academic supervisor K.K. Edelstein
          figure.figure.figure__set__element
            img.figure__img(src='img/history/history-12.jpg', alt='Museum of Hydrometeorological Instruments')
            figcaption.figcaption
              | To mark the anniversary, the laboratory staff established the Museum of Hydrometeorological Instruments
        p Since the late 1990s staff members of the Water Problems Institute of the RAS have been working at the laboratory practically every year, with short breaks. For several years members of the LMSU Physics Faculty, and of the Russian Fisheries and Oceanography Research Institute (VNIRO) have been using the facilities for their field studies. During that period four PHD theses were defended on the basis of the materials collected at the laboratory, and two more PhD and two Doctor of Science dissertations were prepared for defence. Recommendations by the laboratory staff are regularly put to practice by the Mosvodokanal (Moscow water supply system) to manage the Mozhaysk, Ruza, Ozerna, and Istra reservoirs of the Moskva River system, and the Ucha and Klyazma reservoirs of the Moscow Canal. The Solnechnogorsk municipality uses the laboratory’s guidance to organise recreational use and protection of Lake Senezh water resources – the oldest reservoir in the Moscow Region.
        p In addition to the field research and academic studies, the laboratory makes an important contribution to the educational process: apart from practical limnologic training of students specialising at the Land Hydrology Department of the LMSU Faculty of Geography organised since 1971, since 2003 the laboratory also arranges hydrometeorological field training for students of the Ecology and Earth Sciences Department of the Dubna International University of Nature, Society and Man, and since 2007 – hydrochemical field studies of students of the LMSU Faculty of Geography Environmental Management Department.
        p In recent years the “Initiation into hydrologists” ceremony for the second-year students of the MSU Faculty of Geography is held at the laboratory.
        .figure__set
          figure.figure.figure__set__element
            img.figure__img.figure__set__img(src='img/history/history-13.jpg', alt='Initiation into hydrologists” ceremony')
            figcaption.figcaption Initiation into hydrologists” ceremony, 2014. At the centre is N.I. Alekseyevsky
          figure.figure.figure__set__element
            img.figure__img.figure__set__img(src='img/history/history-14.jpg', alt='Initiation into hydrologists” ceremony, 2015')
            figcaption.figcaption At the bank of the Mozhaisk reservoir. “Initiation into hydrologists” ceremony, 2015
        p Students’ hydrology field training was supervised by the following scientists: Konstantin Edelstein (1971-2004), Yuri Datsenko (2005–2011) (while he was on a field trip for a year, Maya Zaslavskaya acted in his stead); and Maria Grechushnikova – since 2012.
        .figure__set
          figure.figure.figure__set__element
            img.figure__img.figure__set__img(src='img/history/history-15.jpg', alt='Laboratory’s anniversary')
            figcaption.figcaption Commemorative meeting to celebrate the laboratory’s anniversary (October, 2015)
          figure.figure.figure__set__element
            img.figure__img.figure__set__img(src='img/history/history-16.jpg', alt='Laboratory staff')
            figcaption.figcaption Laboratory staff: past and present (October, 2015)
        p Students’ field studies at the Mozhaysk reservoir are adequately supported by research, training, and methodological materials. Currently the Krasnovidovo station has hydrochemistry and hydrobiology labs, an extensive library, a computer class, a conference room, heated accommodation (for 20 students and 4 teachers) and classes, an instruments room, a dining room and kitchen, showers (all located in a two-storey 720 sq.m. building); storage facilities (in a separate structure); own fleet of small vessels (two Progress motor boats, one Whaleboat motor boat, one Don amphibious floating dacha, and three Kefal rowing boats); limnologic instruments and equipment, special-purpose equipment. A tent camp can be set up at the station’s grounds, or right at the bank of the Mozhaysk reservoir.
        .modal 
          span.modal__close &times;
          img.modal__content
    include footer.pug
