nav(class="grid-nav")
    div(class="nav-button  mobile-only" role="button" tabindex="0")
        div.bar1
        div.bar2
        div.bar3

    div(class="nav-bar hide-nav-bar")
        div(class="nav-item") 
            button(class="nav-item-main") About Us 
                i(class="fas fa-caret-down")
            ul(class="nav-hidden-links-visible nav-hidden-links")
                li
                    a(href="history.html") History
                li  
                    a(href="mission.html") Our Mission
        div(class="nav-item")
            button(class="nav-item-main") People 
                i(class="fas fa-caret-down")
            ul(class="nav-hidden-links-visible nav-hidden-links")
                li
                    a(href="staff.html") Staff and Researchers
                li
                    a(href="faculty.html") Faculty
                li
                    a(href="partners.html") Our Partners

        div(class="nav-item")
            button(class="nav-item-main") Education 
                i(class="fas fa-caret-down")
            ul(class="nav-hidden-links-visible nav-hidden-links")
                li
                    a(href="field.html") Field Trainings
                li
                    a(href="#") Summer Internship
    
        div(class="nav-item")
            button(class="nav-item-main") Research 
                i(class="fas fa-caret-down")
            ul(class="nav-hidden-links-visible nav-hidden-links")
                li
                    a(href="#") Projects
                li
                    a(href="publications.html") Publications
    
        div(class="nav-item")
            button(class="nav-item-main") Resources 
                i(class="fas fa-caret-down")
            ul(class="nav-hidden-links-visible nav-hidden-links")
                li
                    a(href="#") Our Data
                li
                    a(href="#") Maps
                li
                    a(href="#") Miscellaneous

        div(class="nav-item")
            a(class="nav-item-main" href="contacts.html") Contact Us
