doctype html
html(lang="en")
  include head.pug
  link(rel="stylesheet" href="css/staff.css")
  body
    include header.pug
    main
      h1 Publications
      h3 2018
      p
        | Edel’shtein, K.K., Puklakov, V.V., Datsenko, Yu.S., Erina, O.N., Sokolov, D.I. Water Resour (2018) 45: 399-408 (in press).  
        a(href='https://drive.google.com/open?id=1fCCjdtdXMHNsrNvwdYm2dNhN4FMza6qJ')
          i.fas.fa-file
      h3 2017
      p
        | Sokolov, D.I., Erina, O. Dissolved organic matter in the river waters of moscow’s water supply sources: The effect of reservoirs. In Dissolved Organic Matter (DOM): Properties, Applications and Behavior. Pokrovsky O.S., Shirokova L.S. (Editors), pages 81–114. Nova Science Publishers, Inc., United States New York, 2017. 
        a(href="https://www.researchgate.net/publication/320880611_Dissolved_organic_matter_in_the_river_waters_of_Moscow's_water_supply_sources_The_effect_of_reservoirs")
          i.fas.fa-link
      h3 2016
      p
        | Puklakov, V.V., Edelshtein, K.K., Datsenko, Y.S. Assessment of the role of reservoir morphology in parameterizing its ecological regime under extreme hydrological conditions. Russ. Meteorol. Hydrol. (2016) 41: 569. 
        a(href='https://doi.org/10.3103/S1068373916080070')
          i.fas.fa-link
      p
        | Panin, G.N., Vyruchalkina, T.Y., Grechushnikova, M.G., Solomonova, I.V. Specific features of the hydrological regime of the Tsimlyansk Reservoir under climate changes in the Don basin. Water Resour (2016) 43: 249. 
        a(href='http://dx.doi.org/10.1134/S0097807816020123')
          i.fas.fa-link
      h3 2015
      p
        | Kremenetskaya, E.R., Belova, S.L., Sokolov, D.I., Lomova, D.V. Organic matter production and transformation in the Mozhaisk Reservoir at lower water level. Water Resour (2015) 42: 78. 
        a(href='https://doi.org/10.1134/S0097807814060128')
          i.fas.fa-link
      h3 2014
      p
        | Grechushnikova, M.G. The results of the numerical simulation of regime variations in the Mozhaisk and Istra reservoirs for the A2 scenario of global warming. Russ. Meteorol. Hydrol. (2014) 39: 195. 
        a(href='http://dx.doi.org/10.3103/S106837391403008X')
          i.fas.fa-link
      h3 2013
      p
        | Puklakov, V.V., Ershova, M.G., Edel’shtein, K.K. Synoptic variability of the thermodynamical state of Rybinsk Reservoir water masses. Russ. Meteorol. Hydrol. (2013) 38: 53. 
        a(href='https://doi.org/10.3103/S106837391301007X')
          i.fas.fa-link
      h3 2012
      p
        | Edelshtein, K.K., Grechushnikova, M.G., Datsenko, Y.S., Puklakov, V.V. Diagnostic modelling of within-water processes in reservoirs. Water Resour (2012) 39: 432. 
        a(href='http://dx.doi.org/10.1134/S0097807812040045')
          i.fas.fa-link
      p
        | Datsenko, Y.S., Zaslavskaya, M.B. Balance evaluation of the role of lateral inflow in water quality formation in the reservoirs of the water divide reach of the Moscow Canal. Water Resour (2012) 39: 98 
        a(href='https://doi.org/10.1134/S0097807811060042')
          i.fas.fa-link
      p
        | Lomova, D.V., Brekhovskikh, V.F., Vishnevskaya, G.N., Kremenetskaya E.R. Influence of intrareservoir and meteorological factors on the rate of oxygen demand by valley reservoir sediments. Russ. Meteorol. Hydrol. (2012) 37: 338. 
        a(href='https://doi.org/10.3103/S106837391205007X')
          i.fas.fa-link
      h3 2011
      p
        | Panin, G.N., Grechushnikova, M.G., Puklakov, V.V.  Adapting a model of heat and mass exchange between a water body and the atmosphere taking into account the effect of shallows: Case study of the Ivankovo Reservoir. Water Resour (2011) 38: 818. 
        a(href='http://dx.doi.org/10.1134/S0097807811060121')
          i.fas.fa-link
      p
        | Kremenetskaya, E.R., Lomova, D.V., Sokolov, D.I. Edels'shtein, K.K. Sedimentation of suspension in the Mozhaisk Reservoir. Water Resour (2011) 38: 522. 
        a(href='https://doi.org/10.1134/S0097807811020072')
          i.fas.fa-link
      h3 2010
      p
        | Edel’shtein, K.K., Goncharov, A.V., Ershova, M.G., Puklakov, V.V., Puklakova, N.G., Sokolov D.I. Bottom sediments of the oldest reservoir in Moscow region. Water Resour (2010) 37: 234. 
        a(href='http://dx.doi.org/10.1134/S0097807810020119')
          i.fas.fa-link
      p
        | Belova, S.L., Kremenetskaya, E.R. The effect of water level variations on production-destruction processes in the Mozhaisk Reservoir. Water Resour (2010) 37: 807 
        a(href='https://doi.org/10.1134/S0097807810060060')
          i.fas.fa-link
      h3 2008
      p
        | Grechushnikova, M.G. Adaptation of heat and mass exchange model to the calculation of diurnal water temperature regime in a stratified reservoir. Water Resour (2008) 35: 642. 
        a(href='https://doi.org/10.1134/S0097807808060031')
          i.fas.fa-link
      h3 2007
      p
        | Goncharov, A.V. Comparison of reservoirs in the Moskva-Vazuza water system in terms of phytoplankton abundance and eutrophication degree. Water Resour (2007) 34: 70. 
        a(href='https://doi.org/10.1134/S0097807807010071')
          i.fas.fa-link
      h3 2005
      p
        | Datsenko, Y.S., Edel’shtein, K.K., Goncharov, A.V., Puklakov, V.V., Chernega, S.S. Variations in the Hydroecological Characteristics of Water Masses in the Central Pool of the Mozhaisk Reservoir. Water Resour (2005) 32: 319. 
        a(href='http://dx.doi.org/10.1007/s11268-005-0041-0')
          i.fas.fa-link
      p
        | Edel’shtein, K.K., Ershova, M.G., Zaslavskaya, M.B. Biochemogenic Calcite as an Important Component of Matter Turnover in the Eutrophic Mozhaisk Reservoir. Water Resour (2005) 32: 434. 
        a(href='http://dx.doi.org/10.1007/s11268-005-0055-7')
          i.fas.fa-link
      h3 2004
      p
        | Gashkina, N.A., Puklakov, V.V., Kremenetskaya, E.R. Dynamics of Phosphorus and Balance Estimate of Its Exchange Processes with the Bed in the Mozhaisk Reservoir during Vegetation Period. Water Resources (2004) 31: 649. 
        a(href='http://dx.doi.org/10.1023/B:WARE.0000046903.21901.23')
          i.fas.fa-link
      h3 2002
      p
        | Puklakov, V.V., Edel'shtein, K.K., Kremenetskaya, E.R., Gashkina, N.A. Water Self-Purification in the Mozhaisk Reservoir in Winter. Water Resources (2002) 29: 655. 
        a(href='http://dx.doi.org/10.1023/A:1021137130287')
          i.fas.fa-link
      p
        | Datsenko, Y.S. Assessing the Effect of the Volga Reservoirs Chain on the Normal Annual Phosphorus Runoff into the Caspian Sea. Water Resources (2002) 29: 587 
        a(href='https://doi.org/10.1023/A:1020390218009')
          i.fas.fa-link
      p
        | Datsenko, Y.S. Vertical Distribution of Phosphorus Concentrations in the Mozhaisk Reservoir in Summer. Water Resources (2002) 29: 327 
        a(href='https://doi.org/10.1023/A:1015688531754')
          i.fas.fa-link
      h3 2001
      p
        | Belova, S.L. Long-Term Dynamics of Phytoplankton in the Mozhaisk Reservoir and Its Production–Destruction Processes under Anthropogenic Effect. Water Resources (2001) 28: 562 
        a(href='https://doi.org/10.1023/A:1012389308138')
          i.fas.fa-link
      h3 1995
      p
        | Puklakov V. Mathematical Model of the Heat and Mass Transfer Processes in a Stratified Reservoir // Int. Revue gcs. Hydrobiol. 1995. 
        a(href='https://doi.org/10.1002/iroh.19950800106')
          i.fas.fa-link
      p
        | Edelstein K.K. Hydrologic Peculiarities of Valley Reservoirs // Int. Revue gcs. Hydrobiol. 1995 
        a(href='https://doi.org/10.1002/iroh.19950800105')
          i.fas.fa-link
      h3 1992
      p
        | Edelstein, K.K. Global Hydrological Cycle and Its Continental Links.GeoJournal(1992) 27: 263. 
        a(href='http://www.jstor.org/stable/41145504')
          i.fas.fa-link
    include footer.pug
    script(src="structure.js")