/*===== HEADER =====*/
// HAMBURGER BUTTON
.nav-button {
    cursor: pointer;
    margin-bottom: 10px;
}
// Design
.bar1, .bar2, .bar3 {
    width: 70px;
    height: 5px;
    background-color: $dark-blue;
    margin: 6px auto;
    border-radius: 10px;
    @include transition(0.5s);
}
.bar2 {
    opacity: 0.7;
}
// Interactivity
.nav-button:hover,
.nav-button:focus,
 {
    .bar1, .bar3 {
        @include scaleX(0.8);
        opacity: 0.7;
    }
    .bar2 {
        @include scaleX(2);
        opacity: 1;
    }
    outline: none;
}


// STICKY NAV BAR
@media (min-height: 380px) {
    .sticky {
        position: fixed;
        top: 0;
        left: 0;
        background: $white;
        width: 100%;
        margin: auto;
    }
    
    .anti-sticky {
        margin-top: 60px;
    }
}
@media (min-width: $break1) {
    .sticky {
        background: $dark-blue;
        > * {
            margin: 0;
            padding: 0;
            line-height: 1em;
        }

        .nav-item-main {
            border: 1px solid white;
            min-width: 100px;
            font-size: 16px;
            line-height: 1em;
            border-bottom: none;
            padding: 0 10px;
        }
    }
}

@media (min-width: $break2) {
    .sticky {
        left: inherit;
        max-width: $max-nav-width;
        .nav-bar {
            margin: 0;
        }

        .nav-item-main {
            border-radius: 20px;
            min-width: 100px;
            font-size: 18px;
            line-height: 1em;
            border-bottom: none;
            padding: 0 10px;
        }
    }
}

// Nav Bar: accessible by Tab, button-based
.nav-bar {
    position: absolute;
    width: 100%;

    display: block;

    background: $dark-blue;
    > div:nth-child(odd) {
        background: lighten($grey, 10%);
    }
    > * {
        border-bottom: 1px dashed white;
    }  
}
.nav-item {
    padding: 5px 0;
}

.nav-item-main {
    cursor: pointer;
    padding: 5px 3px;

    border: none;
    background: none;

    font-family: $open-sans;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;

    color: white;
           
    &:focus {
        outline: none;
        border-radius: 20px;
        box-shadow: 0 0 3pt 2pt $white;
        border-bottom: none;
    }
}

.hide-nav-bar {
    display: none;
}

.nav-hidden-links {
    display: none !important;
}

.nav-hidden-links-visible {
    position: absolute;
    width: 100%;

    display: flex;
    flex-direction: column;
    background: rgba($white, 0.9);
    padding: 5px 0;

    li {
        display: block;
        color: black;
        line-height: 1.1em;
        font-size: 16px;
        a {
            display: block;
            width: 100%;
            padding: 3px 0;
        }
    }

    li:hover a {
        background: white;
    }
}

@media (min-width: $break1) {
    .nav-bar {
        width: auto;

        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        margin: 0 20px;  

    }

    .nav-item {
        border-bottom: none;
        background: $dark-blue !important;
    }
    
    .nav-item-main {
        padding: 5px 0;
        
        font-size: 20px;
        font-variant:small-caps;
        min-width: 160px;

        border-radius: 20px;
        border-bottom: 1px dashed white;
       
        &:focus {
            box-shadow: 0 0 1pt 1pt $white;
        }
    }

    .nav-hidden-links-visible {
        width: auto;
        min-width: 160px;
        margin-top: 10px;
        padding: 3px 10px 3px 10px;
        box-shadow: 0 0 3pt 2pt $white;
        li {
            padding: 1px;
        }

        a {
            font-size: 20px;
            text-align: left;
            font-variant: small-caps;
        }
        li:hover a {
            color: $dark-blue;
            background: none;
        } 
    }
}

@media (min-width: $break2) {
    .nav-bar {
        margin-top: 20px;
        border-top: 3px solid $white;
    }

    .nav-item-main {
        padding: 5px 0;
        
        font-size: 22px;

        border-radius: 0;
        border-bottom: 1px dashed white;
    }
}
